---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/categories?fields=name,color__c&orderby=display_order__c&search=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WiIAK"},"Name":"Salesforce.com","Id":"a07Z0000001S9WiIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WjIAK"},"Name":"Google","Id":"a07Z0000001S9WjIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WkIAK"},"Name":"Ruby","Id":"a07Z0000001S9WkIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WlIAK"},"Name":"Heroku","Id":"a07Z0000001S9WlIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WmIAK"},"Name":"Cloud
        Foundry","Id":"a07Z0000001S9WmIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WnIAK"},"Name":"Mobile","Id":"a07Z0000001S9WnIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WoIAK"},"Name":"Java","Id":"a07Z0000001S9WoIAK","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WpIAK"},"Name":"JavaScript","Id":"a07Z0000001S9WpIAK","Color__c":"000000"}]'
  recorded_at: Fri, 11 Jan 2013 15:39:03 GMT
recorded_with: VCR 2.4.0
