---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1352765226495","instance_url":"https://cs10.salesforce.com","signature":"DLCtIYk6+j1gMwEozEbIS/16tZwaCK84gtaopfAdqEY=","access_token":"00DJ00000007l7H!AQQAQO45PIy_M.9h6T9ZB73Ml5G.lOo6zHDFAEFYwtInRFm3EzKIv947BwlxNOS0JKBCQ_eh7Ug8tRI34jGvbdNcEYyXENQ7"}'
  recorded_at: Tue, 13 Nov 2012 00:07:06 GMT
recorded_with: VCR 2.2.5
