---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/data/v20.0/query?q=select%20id,%20name,%20terms__c,%20default_tos__c%20%0A%20%20%20%20%20%20from%20terms_of_service__c%20order%20by%20name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Terms_of_Service__c","url":"/services/data/v20.0/sobjects/Terms_of_Service__c/a0kZ0000000YyG0IAK"},"Id":"a0kZ0000000YyG0IAK","Name":"Standard
        Terms & Conditions","Terms__c":"CloudSpokes Default TOS Text","Default_TOS__c":true}]}'
  recorded_at: Wed, 05 Dec 2012 19:29:31 GMT
recorded_with: VCR 2.2.5
