---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/data/v20.0/sobjects/terms_of_service__c/a0kZ0000000YyG0IAK
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      last-modified:
      - Wed, 21 Nov 2012 14:07:24 GMT
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"attributes":{"type":"Terms_of_Service__c","url":"/services/data/v20.0/sobjects/Terms_of_Service__c/a0kZ0000000YyG0IAK"},"Id":"a0kZ0000000YyG0IAK","OwnerId":"005U0000000M1nPIAS","IsDeleted":false,"Name":"Standard
        Terms & Conditions","CreatedDate":"2012-11-21T14:07:24.000+0000","CreatedById":"005U0000000M1nPIAS","LastModifiedDate":"2012-11-21T14:07:24.000+0000","LastModifiedById":"005U0000000M1nPIAS","SystemModstamp":"2012-11-21T14:07:24.000+0000","LastActivityDate":null,"Terms__c":"CloudSpokes
        Default TOS Text","Default_TOS__c":true}'
  recorded_at: Fri, 11 Jan 2013 13:06:16 GMT
recorded_with: VCR 2.4.0
