---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1353425225777","instance_url":"https://cs10.salesforce.com","signature":"wLFxDBmjft5ve4sOXIfHXZBC8gJke+PLrm42ha/rs1c=","access_token":"00DJ00000007l7H!AQQAQG.Gm9wtiltR4zJDuUipGHzu9.DBrfLAr4u5WFIUvrFY7.dEWvPtFG4xXChxeixEHjeBMJ8P3arx5uOvORD3jA2GSc4t"}'
  recorded_at: Tue, 20 Nov 2012 15:27:05 GMT
recorded_with: VCR 2.2.5
