---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"challenges_won":"2","featured_challenge_id":"2","featured_challenge_details":"sample
        Description","challenges_open":"4","featured_member_wins":"1","money_up_for_grabs":"46198.0","featured_challenge_prize":"1000","money_pending":"5003.0","featured_member_pic":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg","entries_submitted":"4","featured_member_active":"1","featured_member_username":"jeffdonthemic","featured_challenge_name":"RSpec
        Challenge - 2","featured_member_money":"5002.00"}'
  recorded_at: Fri, 11 Jan 2013 17:32:49 GMT
recorded_with: VCR 2.4.0
