---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/categories?fields=name,color__c&orderby=display_order__c&search=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQKD_wbzoSGdrlkXuBvDZuVQ15YZvuiQ2Tq198EUmsxmiShIBJNqgCoS28CzCotRzXOT79X49suJxnsTa2krMkrb6I6BI
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esGIAQ"},"Name":"Salesforce.com","Id":"a07J00000038esGIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esHIAQ"},"Name":"Google","Id":"a07J00000038esHIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esIIAQ"},"Name":"Ruby","Id":"a07J00000038esIIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esJIAQ"},"Name":"Heroku","Id":"a07J00000038esJIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esKIAQ"},"Name":"Cloud
        Foundry","Id":"a07J00000038esKIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esLIAQ"},"Name":"Mobile","Id":"a07J00000038esLIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esMIAQ"},"Name":"Java","Id":"a07J00000038esMIAQ","Color__c":"000000"},{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esNIAQ"},"Name":"JavaScript","Id":"a07J00000038esNIAQ","Color__c":"000000"}]'
  recorded_at: Sat, 03 Nov 2012 11:09:18 GMT
recorded_with: VCR 2.2.5
