---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/participants/jeffdonthemic?challengeId=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AZ0000000nIG3MAM"},"Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VQogMAG"},"Name":"RSpec
        Challenge - 2","Id":"a0GZ0000005VQogMAG"},"Name":"CP-44123","Has_Submission__c":false,"Money_Awarded__c":0.00,"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Valid_Submissions__c":0,"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0"},"Member__c":"a0IZ0000000FyJUMA0","Send_Discussion_Emails__c":true,"Id":"a0AZ0000000nIG3MAM","Status__c":"Watching","Challenge__c":"a0GZ0000005VQogMAG"}]'
  recorded_at: Fri, 11 Jan 2013 15:14:28 GMT
recorded_with: VCR 2.4.0
