---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=%21cloudspokes963
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1359646600544","instance_url":"https://cs11.salesforce.com","signature":"aEFo0b5f04nTD9OR8bkfYSUMrlXHUEOyINwUvA/qg+Y=","access_token":"00DZ00000007ybt!AQQAQDpkkzGIrTY24z57TzIvUwMm2ImC_aRBwk5kwkDRB3EbQxES8RZdGp1Yt8.DK5oktEyzfE1Us5St.RspW2j9M2qcDL3n"}'
  recorded_at: Thu, 31 Jan 2013 15:36:40 GMT
recorded_with: VCR 2.4.0
