---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1356978121142","instance_url":"https://cs11.salesforce.com","signature":"Ej/vs9HfwFYHOLpgM1IA6S7Jz6O+bhQ2VV4HUsm4UhE=","access_token":"00DZ00000007ybt!AQQAQHECjlLlBGPMUurDiNKOUd106VRtkGyN2r1u5brUOcg1HUfxLrqi0BfB7Quz0IQs_fQCH2tO9qYpNzLK2cV3xdUUCrtg"}'
  recorded_at: Mon, 31 Dec 2012 18:22:00 GMT
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1357489666318","instance_url":"https://cs11.salesforce.com","signature":"qIqqEB2u7riEy5Lax4hZjXqMxGEIV2ccyVmTyWc0DYg=","access_token":"00DZ00000007ybt!AQQAQL_1mAuVfzx74H0OksyHyvpFzf.IKO0g_LR._Quexzss8ua3dcMwIOZ0QZiZLJbUbJAQQXqYgj6WPcvnipV8oXGrJeOQ"}'
  recorded_at: Sun, 06 Jan 2013 16:27:44 GMT
recorded_with: VCR 2.2.5
