---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=%21cloudspokes963
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1360074330801","instance_url":"https://cs11.salesforce.com","signature":"XtzPlnEahztqPiYJBKYC9w2yvcDS9VKWJBfZy6MlyV8=","access_token":"00DZ00000007ybt!AQQAQE_7PlGo7f70rWpjgUjerk.U6woxAnfgIJroKCW5n.5L7yB2BhOP5U_.DPbP4FHJl4uU2oSdz3eOjyVZzqcniDqXDSym"}'
  recorded_at: Tue, 05 Feb 2013 14:25:30 GMT
recorded_with: VCR 2.4.0
