---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1354737208146","instance_url":"https://cs11.salesforce.com","signature":"mMnCb4n1R02+oJMh4GaNnMT4jTUCRQ4ueI/ebgFOiD0=","access_token":"00DZ00000007ybt!AQQAQJ0k96FtI0f4MDdllG0lwLhLdcVVm5YoJB4bWluga_FoEJ0hsjHGyF1EMWki3UNCWdZaIp6aPl8V9mOlsCPpcmPFLhnD"}'
  recorded_at: Wed, 05 Dec 2012 19:53:28 GMT
recorded_with: VCR 2.2.5
