---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000NdzaIAC","issued_at":"1360074330011","instance_url":"https://cs11.salesforce.com","signature":"FxEm24X5o9NVD9zwcYgrJEwdA53lZazn6i0f4YxN1SE=","access_token":"00DZ00000007ybt!AQQAQPCrgjRQKbllDYwtxO_ehgSeyix6xCMiGEJrTvblG.BAOJAvZyBkXi95rIuIMT7AoWFUhm5MYnGb1ENJO0gszIu.gsru"}'
  recorded_at: Tue, 05 Feb 2013 14:25:30 GMT
- request:
    method: post
    uri: https://cs9.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9FS3IyroMOh7UWRPIYGRY.Bs.cgyom6VCFt65sIuzCN4ApRdtFJvoPN_f4CuhZiXcDiKhiTayvB_Qz_gm&client_secret=1039828845765785494&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000008yRYrMAM/005U0000000NdzaIAC","issued_at":"1364215177694","instance_url":"https://cs9.salesforce.com","signature":"rtlMbqTyD4n0TZ5l8QY1+6nGowZ0jJ0sLK8eFjvYFX4=","access_token":"00DK0000008yRYr!AQQAQDUsGHDebUMHJPFRqWpm7trZw1q3CMhD5GbB6rcm2epUjrgnu7nYraKmdoa2UCvo3UElFB8rr_3XuSV17_7h8CEhnm1q"}'
  recorded_at: Mon, 25 Mar 2013 12:39:37 GMT
recorded_with: VCR 2.4.0
