---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000NdzaIAC","issued_at":"1360074330011","instance_url":"https://cs11.salesforce.com","signature":"FxEm24X5o9NVD9zwcYgrJEwdA53lZazn6i0f4YxN1SE=","access_token":"00DZ00000007ybt!AQQAQPCrgjRQKbllDYwtxO_ehgSeyix6xCMiGEJrTvblG.BAOJAvZyBkXi95rIuIMT7AoWFUhm5MYnGb1ENJO0gszIu.gsru"}'
  recorded_at: Tue, 05 Feb 2013 14:25:30 GMT
recorded_with: VCR 2.4.0
