---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000NdzaIAC","issued_at":"1359646903315","instance_url":"https://cs11.salesforce.com","signature":"bvdFguEg1AxIYFmhBmpFl7RAUbIiK07YedTaRblaet4=","access_token":"00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u"}'
  recorded_at: Thu, 31 Jan 2013 15:41:43 GMT
recorded_with: VCR 2.4.0
