---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000NdzaIAC","issued_at":"1354735763200","instance_url":"https://cs11.salesforce.com","signature":"0bKqkWkDww3fJ7rcGtEerXVXSCzChTTb3rAkWmsKDtE=","access_token":"00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F"}'
  recorded_at: Wed, 05 Dec 2012 19:29:23 GMT
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/leaderboard?1=1&category=heroku&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"total_money":"5000.0","wins":"1","country__c":null,"active":"0","profile_pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","username":"jeffdonthemic"}]'
  recorded_at: Wed, 05 Dec 2012 19:29:23 GMT
recorded_with: VCR 2.2.5
