---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/leaderboard?1=1&period=month&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"total_money":"500.0","wins":"0","country__c":null,"active":"0","profile_pic__c":"http://lh3.ggpht.com/owL_4bpqEq05aU1JkZUjXWF5dQ1jh9VlGerzHMYrfT2gdLwBrVshRpRbGouxOaKwW5Fr4BvBROZRT02RtIUkJC_KvriWkHQ","username":"salpartovi"},{"total_money":"1000.0","wins":"1","country__c":null,"active":"3","profile_pic__c":"http://lh3.ggpht.com/Y23e0P_lCuxtjyLVFEgKa5NCvXUwjY8epv9bwQgcpvXhSv0AXn2QbRKYTgtxFQNXQtQhcahC9syLz03si14uUZpFbcYLuw","username":"mess"},{"total_money":"250.0","wins":"0","country__c":null,"active":"0","profile_pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","username":"romin"}]'
  recorded_at: Thu, 31 Jan 2013 15:39:50 GMT
recorded_with: VCR 2.4.0
