---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/leaderboard?1=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQIWDxvW6u_7TsUxMoKGZywRp_A.wIv9x2gBJsDg83JuSEaIioDRA.K9s5L4COUjsDY7LL2PLfncAmhmMMqDa1Gwt7i_s
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"total_money":"600.0","wins":"0","country__c":"Afghanistan","active":"0","profile_pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","username":"jeffdonthemic"},{"total_money":"50.0","wins":"0","country__c":null,"active":"1","profile_pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","username":"mess"}]'
  recorded_at: Tue, 30 Oct 2012 13:42:36 GMT
recorded_with: VCR 2.2.5
