---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1351641937878","instance_url":"https://cs10.salesforce.com","signature":"l8RzNNP9YZmhYxDRUovKtEZVOrWRa5EdD66nX2TzHmA=","access_token":"00DJ00000007l7H!AQQAQNTqvkxYAzZ8q_S4z_wM9fstiZZI8wqsgIQugEpKkKSH1yQ3F0YykE7Q4Uyjq7fhux6g8v7e_ALS.0M5cBvU2xCxnaFS"}'
  recorded_at: Wed, 31 Oct 2012 00:05:37 GMT
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/leaderboard?1=1&category=heroku&limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQNTqvkxYAzZ8q_S4z_wM9fstiZZI8wqsgIQugEpKkKSH1yQ3F0YykE7Q4Uyjq7fhux6g8v7e_ALS.0M5cBvU2xCxnaFS
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Wed, 31 Oct 2012 00:05:38 GMT
recorded_with: VCR 2.2.5
