---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members/jeffdonthemic/challenges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VzTTMA0"},"Prize_Type__c":"Currency","Total_Prize_Money__c":44848,"End_Date__c":"2012-12-17T18:45:00.000+0000","Challenge_Categories__r":{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000Rmk6IAC"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WoIAK"},"Name":"Java","Color__c":"000000","Id":"a07Z0000001S9WoIAK"},"Category__c":"a07Z0000001S9WoIAK","Id":"a08Z0000000Rmk6IAC","Challenge__c":"a0GZ0000005VzTTMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000Rmk7IAC"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WlIAK"},"Name":"Heroku","Color__c":"000000","Id":"a07Z0000001S9WlIAK"},"Category__c":"a07Z0000001S9WlIAK","Id":"a08Z0000000Rmk7IAC","Challenge__c":"a0GZ0000005VzTTMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmkBIAS"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WoIAK"},"Name":"Java","Color__c":"000000","Id":"a07Z0000001S9WoIAK"},"Category__c":"a07Z0000001S9WoIAK","Id":"a08Z0000000RmkBIAS","Challenge__c":"a0GZ0000005VzTTMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmkCIAS"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07Z0000001S9WlIAK"},"Name":"Heroku","Color__c":"000000","Id":"a07Z0000001S9WlIAK"},"Category__c":"a07Z0000001S9WlIAK","Id":"a08Z0000000RmkCIAS","Challenge__c":"a0GZ0000005VzTTMA0"}]},"Name":"RSpec
        Challenge for Testing","Top_Prize__c":"1000","Challenge_Id__c":"58","Challenge_Type__c":"Race","Id":"a0GZ0000005VzTTMA0","Start_Date__c":"2012-03-17T18:02:00.000+0000","Description__c":"sample
        Description","Status__c":"Review","Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AZ0000000nIzlMAE"},"Has_Submission__c":false,"Money_Awarded__c":0.00,"Score__c":0,"Member__c":"a0IZ0000000FyJUMA0","Id":"a0AZ0000000nIzlMAE","Status__c":"Registered","Challenge__c":"a0GZ0000005VzTTMA0"}]}},{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VzUgMAK"},"Prize_Type__c":"Currency","Total_Prize_Money__c":44848,"End_Date__c":"2013-03-07T21:09:00.000+0000","Challenge_Categories__r":{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z000000[...]
