---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members/jeffdonthemic/challenges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQDN9tfD2FmXH71v7NcOK__g5c9Tog0yfpF_o8f2y_M45bI3bfG5DhmQtX_Wc4mGjy._Mf3bfgKnNvkp7p_1kETmqLhSm
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GK00000041uOIMAY"},"Prize_Type__c":"Currency","Total_Prize_Money__c":1500,"End_Date__c":"2012-10-11T18:37:00.000+0000","Challenge_Categories__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08K0000000j5QbIAI"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07K0000002ASBvIAO"},"Name":"BUG","Color__c":"000000","Id":"a07K0000002ASBvIAO"},"Category__c":"a07K0000002ASBvIAO","Id":"a08K0000000j5QbIAI","Challenge__c":"a0GK00000041uOIMAY"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08K0000000j5QcIAI"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07K0000002ASBpIAO"},"Name":"Salesforce.com","Color__c":"000000","Id":"a07K0000002ASBpIAO"},"Category__c":"a07K0000002ASBpIAO","Id":"a08K0000000j5QcIAI","Challenge__c":"a0GK00000041uOIMAY"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08K0000000j5QdIAI"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07K0000002ASBsIAO"},"Name":"DESIGN","Color__c":"000000","Id":"a07K0000002ASBsIAO"},"Category__c":"a07K0000002ASBsIAO","Id":"a08K0000000j5QdIAI","Challenge__c":"a0GK00000041uOIMAY"}]},"Name":"Really
        Awesome Challenge","Top_Prize__c":"$1000","Challenge_Id__c":"3","Challenge_Type__c":"Code","Id":"a0GK00000041uOIMAY","Start_Date__c":"2012-08-30T18:37:00.000+0000","Description__c":"sample
        Description","Status__c":"Created","Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AK0000003yneAMAQ"},"Has_Submission__c":true,"Money_Awarded__c":0.00,"Score__c":0,"Member__c":"a0IK0000000QarnMAC","Id":"a0AK0000003yneAMAQ","Status__c":"Submitted","Challenge__c":"a0GK00000041uOIMAY"}]}},{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GK00000041upTMAQ"},"Prize_Type__c":"Currency","Total_Prize_Money__c":100,"End_Date__c":"2012-06-30T15:31:00.000+0000","Challenge_Categories__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08K0000000jC[...]
