---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members/jeffdonthemic/challenges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GJ0000002ZBv7MAG"},"Prize_Type__c":"Currency","Total_Prize_Money__c":100,"End_Date__c":"2012-10-31T09:43:00.000+0000","Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002NsUVIA0"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esGIAQ"},"Name":"Salesforce.com","Color__c":"000000","Id":"a07J00000038esGIAQ"},"Category__c":"a07J00000038esGIAQ","Id":"a08J0000002NsUVIA0","Challenge__c":"a0GJ0000002ZBv7MAG"}]},"Name":"Test
        Challenge 1","Top_Prize__c":"$100","Challenge_Id__c":"2","Challenge_Type__c":"Code","Id":"a0GJ0000002ZBv7MAG","Start_Date__c":"2012-10-11T09:43:00.000+0000","Description__c":"test","Status__c":"Created","Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AJ0000004HEIuMAO"},"Has_Submission__c":false,"Money_Awarded__c":0.00,"Score__c":0,"Member__c":"a0IJ0000000d0r8MAA","Id":"a0AJ0000004HEIuMAO","Status__c":"Submitted","Challenge__c":"a0GJ0000002ZBv7MAG"}]}},{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GJ0000002ZCVoMAO"},"Prize_Type__c":"Currency","Total_Prize_Money__c":100,"End_Date__c":"2012-10-11T22:57:00.000+0000","Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002NsayIAC"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esGIAQ"},"Name":"Salesforce.com","Color__c":"000000","Id":"a07J00000038esGIAQ"},"Category__c":"a07J00000038esGIAQ","Id":"a08J0000002NsayIAC","Challenge__c":"a0GJ0000002ZCVoMAO"}]},"Name":"Test
        Challenge 2","Top_Prize__c":"$100","Challenge_Id__c":"3","Challenge_Type__c":"Code","Id":"a0GJ0000002ZCVoMAO","Start_Date__c":"2012-10-11T09:43:00.000+0000","Description__c":"test","Status__c":"Winner
        Selected","Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AJ0000004HEIpMAO"},"Has_Submission__c":false,"Money_Awarded__c":0.00,"Score__c":0,"Member__c":"a0IJ0000000d0r8MAA","Id":"a0AJ0000004HEIpMAO","Status__c":"Registered","Challenge__c":"a0GJ0000002ZCVoMAO"}]}}]'
  recorded_at: Fri, 12 Oct 2012 12:57:17 GMT
recorded_with: VCR 2.2.5
