---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/data/v25.0/query?q=select%20id,name%20from%20payment__c%20where%20member__r.name%20=%20'jeffdonthemic'%20order%20by%20name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Payment__c","url":"/services/data/v25.0/sobjects/Payment__c/a0bJ0000003ykOzIAI"},"Id":"a0bJ0000003ykOzIAI","Name":"PAY-3530"},{"attributes":{"type":"Payment__c","url":"/services/data/v25.0/sobjects/Payment__c/a0bJ0000003ykP4IAI"},"Id":"a0bJ0000003ykP4IAI","Name":"PAY-3531"}]}'
  recorded_at: Fri, 12 Oct 2012 12:57:19 GMT
recorded_with: VCR 2.2.5
