---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/recommendations?fields=id,name&search=jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EG2MAM"},"Name":"R-6786","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EG2MAM"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EFsMAM"},"Name":"R-6785","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EFsMAM"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EG7MAM"},"Name":"R-6787","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EG7MAM"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EHeMAM"},"Name":"R-6806","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EHeMAM"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EIdMAM"},"Name":"R-6807","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EIdMAM"}]'
  recorded_at: Wed, 05 Dec 2012 19:28:50 GMT
recorded_with: VCR 2.2.5
