---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/recommendations?fields=id,name&search=jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007YrrMAE"},"Name":"R-6838","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007YrrMAE"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007YsaMAE"},"Name":"R-6839","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007YsaMAE"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EG2MAM"},"Name":"R-6786","Member__c":"a0IZ0000000FyJUMA0","Id":"a0QZ00000007EG2MAM"},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendat[...]
