---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/referrals/jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQHKzmr8NZW3YgnSHiRrxNPrfPqTMy7mQUQHS6AoOi_JNsVBd3yiHB_5VVn3B8A9u0Yx9DF.36FrvUt4.LpmhpakUNCHi
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"signup_date":"2012-11-22T10:20:47.000Z","referral_money":105.000,"referral_id":"a11Z0000000RU3xIAG","membername":"testreferral1","first_year_money":1050.00},{"signup_date":"2012-11-22T10:27:53.000Z","referral_money":0.000,"referral_id":"a11Z0000000RU4lIAG","membername":"testreferral2","first_year_money":0.00}]'
  recorded_at: Thu, 22 Nov 2012 13:16:19 GMT
recorded_with: VCR 2.2.5
