---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members?fields=id,name&search=jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQDN9tfD2FmXH71v7NcOK__g5c9Tog0yfpF_o8f2y_M45bI3bfG5DhmQtX_Wc4mGjy._Mf3bfgKnNvkp7p_1kETmqLhSm
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK0000000QarnMAC"},"Name":"jeffdonthemic","Id":"a0IK0000000QarnMAC"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056SdUMAU"},"Name":"jeffdonthemic1","Id":"a0IK00000056SdUMAU"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056SkBMAU"},"Name":"jeffdonthemic4","Id":"a0IK00000056SkBMAU"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056WQDMA2"},"Name":"jeffdonthemic-github","Id":"a0IK00000056WQDMA2"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056SdyMAE"},"Name":"jeffdonthemic2","Id":"a0IK00000056SdyMAE"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056SkQMAU"},"Name":"jeffdonthemic6","Id":"a0IK00000056SkQMAU"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056SkuMAE"},"Name":"jeffdonthemic7","Id":"a0IK00000056SkuMAE"}]'
  recorded_at: Sat, 06 Oct 2012 11:45:03 GMT
recorded_with: VCR 2.2.5
