---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members/jeffdonthemic?fields=jabber__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d0r8MAA"},"Jabber__c":"somejabbername","Id":"a0IJ0000000d0r8MAA"}]'
  recorded_at: Fri, 12 Oct 2012 13:51:56 GMT
recorded_with: VCR 2.2.5
