---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members/jeffdonthemic?fields=jabber__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQPCrgjRQKbllDYwtxO_ehgSeyix6xCMiGEJrTvblG.BAOJAvZyBkXi95rIuIMT7AoWFUhm5MYnGb1ENJO0gszIu.gsru
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Jabber__c":"somejabbername2","Id":"a0IZ0000000FyJUMA0"}]'
  recorded_at: Tue, 05 Feb 2013 14:25:33 GMT
recorded_with: VCR 2.4.0
