---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=test-rspec-create1%40m.cloudspokes.com.sandbox&password=1111AAAAA%21
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005Z0000000fSzFIAU","issued_at":"1357918683777","instance_url":"https://cs11.salesforce.com","signature":"4GjXtyGOqOwjBx3qjc+Y+Qx4+qrZFM2PexHobiS0pDY=","access_token":"00DZ00000007ybt!AQQAQBG.m2eD.1Z5wEW7q2PME2ZAa0jh9173qRlW_VILuOnSZGNMbxOMirT4W8vosFh8h6lFXHdXZkMAhGQfNn.taXlOXwf2"}'
  recorded_at: Fri, 11 Jan 2013 15:38:03 GMT
recorded_with: VCR 2.4.0
