---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=test-rspec-create1%40m.cloudspokes.com.sandbox&password=1111AAAAA%21
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005Z0000000fSzFIAU","issued_at":"1359646678322","instance_url":"https://cs11.salesforce.com","signature":"UFoJXwr7Aw7hT9wnk81w8X7orL+6I0nuhU+9IvIe8d4=","access_token":"00DZ00000007ybt!AQQAQM1PR0Va1a7CFEIuk1Q1VbbHs1m7gifm9u.ZWQ9Ip.v0JEdk_Xisqhwxtz18R8G0HhtKJEF.uT2E6ncAV0F9Pd72SOK0"}'
  recorded_at: Thu, 31 Jan 2013 15:37:58 GMT
recorded_with: VCR 2.4.0
