---
http_interactions:
- request:
    method: post
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=test-rspec-create1&password=1111AAAAA!&email__c=test-rspec-create1%40test.com&first_name__c=test-rspec-create1&last_name__c=test-rspec-create1
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQMhP0kp4bWF5pzc7sEYktM6tujwV4aaFiVRZtlqjERjUlCiFVXd9y5fBwFzW68RbesV7IRGqCAVxFYlGqgnQJm6b.C_z
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"1111AAAAA!","Success":"true","memberId":"a0IJ0000001QcUdMAK","sfdc_username":"test-rspec-create1@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"test-rspec-create1"}'
  recorded_at: Mon, 12 Nov 2012 12:01:59 GMT
recorded_with: VCR 2.2.5
