---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1351505092021","instance_url":"https://cs10.salesforce.com","signature":"Zxzd2NAn8xNy6tZsi1vL5iwTkknMGsLXEQ1ekrR4oJA=","access_token":"00DJ00000007l7H!AQQAQC5Ct46r08jHRnY9JkwzIczNRBathjKnuCe.n_v5vA2xWCDgMyw2J4Uca6K_2qni8kpSDFedmUOYgkm6UGUhqhWXaYdO"}'
  recorded_at: Mon, 29 Oct 2012 10:04:52 GMT
recorded_with: VCR 2.2.5
