---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1351247600128","instance_url":"https://cs10.salesforce.com","signature":"sNkeX6YZCriM1g/ZiseVucX7ys2+VFSi9YFarsb30Bg=","access_token":"00DJ00000007l7H!AQQAQEaXi8oo4UesPDXKL8Hh2ljAa3zKRO6CizFzbKs4cpt_kyBVcewcTpq0Uwn5v3tPZ1PbySSAhe3NaXalR88yBLygMKAE"}'
  recorded_at: Fri, 26 Oct 2012 10:33:20 GMT
recorded_with: VCR 2.2.5
