---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1350125282128","instance_url":"https://cs10.salesforce.com","signature":"d4U2EmLm+asKJrlZOl/xri3YB6c9PoYy74Y+ICPBf5c=","access_token":"00DJ00000007l7H!AQQAQJt1IHJy.w21g0xqyUy6doOj3YD29UZiWsKa5QHI346wO9hSCc0jwB5PO.NkhkvCJToACQdU1DaNuZtCcfWghIfeZ9p7"}'
  recorded_at: Sat, 13 Oct 2012 10:48:03 GMT
recorded_with: VCR 2.2.5
