---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengeslist?fields=Id%2CChallenge_Id__c%2CName%2CDescription__c%2CTotal_Prize_Money__c%2CChallenge_Type__c%2CDays_till_Close__c%2CRegistered_Members__c%2CStart_Date__c%2CEnd_Date__c%2CIs_Open__c%2CCommunity__r.Name&limit=25&offset=0&open=true&orderby=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005Vvh4MAC"},"Total_Prize_Money__c":1,"End_Date__c":"2013-02-12T14:56:07.000+0000","Registered_Members__c":0,"Challenge_Platforms__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Platform__c","url":"/services/data/v25.0/sobjects/Challenge_Platform__c/a1NZ0000000NPbjMAG"},"Name__c":"Database.com","Id":"a1NZ0000000NPbjMAG","Challenge__c":"a0GZ0000005Vvh4MAC"},{"attributes":{"type":"Challenge_Platform__c","url":"/services/data/v25.0/sobjects/Challenge_Platform__c/a1NZ0000000NPbeMAG"},"Name__c":"Facebook","Id":"a1NZ0000000NPbeMAG","Challenge__c":"a0GZ0000005Vvh4MAC"}]},"Name":"Really
        Awesome Challenge","Challenge_Technologies__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Technology__c","url":"/services/data/v25.0/sobjects/Challenge_Technology__c/a1OZ0000000n0X3MAI"},"Name__c":"JavaScript","Id":"a1OZ0000000n0X3MAI","Challenge__c":"a0GZ0000005Vvh4MAC"},{"attributes":{"type":"Challenge_Technology__c","url":"/services/data/v25.0/sobjects/Challenge_Technology__c/a1OZ0000000n0X8MAI"},"Name__c":"Redis","Id":"a1OZ0000000n0X8MAI","Challenge__c":"a0GZ0000005Vvh4MAC"}]},"Challenge_Id__c":"30","Challenge_Type__c":"Race","Id":"a0GZ0000005Vvh4MAC","Description__c":"This
        is my really cool challenge","Start_Date__c":"2012-11-19T16:52:00.000+0000","Is_Open__c":"true","Days_till_Close__c":12},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005VzUgMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2013-03-07T21:09:00.000+0000","Total_Prize_Money__c":44848,"Registered_Members__c":1,"Challenge_Id__c":"70","Challenge_Type__c":"Race","Id":"a0GZ0000005VzUgMAK","Is_Open__c":"true","Start_Date__c":"2013-01-09T21:09:00.000+0000","Description__c":"sample
        Description","Days_till_Close__c":35},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005kxDOMAY"},"Name":"RSpec
        Challenge","End_Date__c":"2014-04-17T18:02:00.000+0000","Total_Prize_Money__c":44848,"Registered_Members__c":1,"Challenge_Id__c":"99","Challenge_Type__c":"Design","Id":"a0GZ0000005kxDOMAY","Is_Open__c":"true","Start_Date__c":"2012-03-17T18:02:00.000+0000","Description__c":"sample
        Description","Days_till_Close__c":441},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005VyTfMAK"},"Name":"Test
        Challenge","End_Date__c":"2013-02-22T21:10:00.000+0000","Total_Prize_Money__c":1000,"Registered_Members__c":0,"Challenge_Id__c":"42","Challenge_Type__c":"Race","Id":"a0GZ0000005VyTfMAK","Is_Open__c":"true","Start_Date__c":"2012-11-19T16:52:00.000+0000","Description__c":"Testing_Desc","Days_till_Close__c":22}]'
  recorded_at: Thu, 31 Jan 2013 15:31:42 GMT
recorded_with: VCR 2.4.0
