---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=true&orderby=name&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005Vvh4MAC"},"Name":"Really
        Awesome Challenge","End_Date__c":"2013-02-07T15:26:00.000+0000","Total_Prize_Money__c":350,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RNI2IAO"},"Display_Name__c":"Android","Id":"a08Z0000000RNI2IAO","Challenge__c":"a0GZ0000005Vvh4MAC"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RNI3IAO"},"Display_Name__c":"AWS","Id":"a08Z0000000RNI3IAO","Challenge__c":"a0GZ0000005Vvh4MAC"}]},"Registered_Members__c":0,"Challenge_Id__c":"30","Challenge_Type__c":"Design","Id":"a0GZ0000005Vvh4MAC","Is_Open__c":"true","Start_Date__c":"2012-11-19T16:52:00.000+0000","Description__c":"This
        is my really cool challenge","Days_till_Close__c":27},{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzUgMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2013-03-07T21:09:00.000+0000","Total_Prize_Money__c":44848,"Challenge_Categories__r":{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmoSIAS"},"Display_Name__c":"Java","Id":"a08Z0000000RmoSIAS","Challenge__c":"a0GZ0000005VzUgMAK"},{"a[...]
