---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/comments/77
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81NIAQ"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my comments","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:35.000+0000","Challenge_Comments__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81SIAQ"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my reply","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:36.000+0000","Id":"a09Z0000000k81SIAQ","Reply_To__c":"a09Z0000000k81NIAQ"}]},"Id":"a09Z0000000k81NIAQ","Challenge__c":"a0GZ0000005VzdYMAS"},{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81XIAQ"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my comments","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:38.000+0000","Challenge_Comments__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81cIAA"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my reply","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:39.000+0000","Id":"a09Z0000000k81cIAA","Reply_To__c":"a09Z0000000k81XIAQ"}]},"Id":"a09Z0000000k81XIAQ","Challenge__c":"a0GZ0000005VzdYMAS"}]'
  recorded_at: Wed, 05 Dec 2012 19:28:43 GMT
recorded_with: VCR 2.2.5
