---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"winner_announced__c":"2015-05-17","description__c":"sample
        Description"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"errors":[{"errorMessage":"Required fields are missing:
        [End_Date__c, Start_Date__c]","errorCode":"REQUIRED_FIELD_MISSING"}],"challengeId":null}'
  recorded_at: Thu, 31 Jan 2013 15:29:46 GMT
recorded_with: VCR 2.4.0
