---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"winner_announced__c":"2015-05-17","description__c":"sample
        Description"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"errors":[{"errorMessage":"Required fields are missing:
        [End_Date__c, Start_Date__c]","errorCode":"REQUIRED_FIELD_MISSING"}],"challengeId":null}'
  recorded_at: Wed, 05 Dec 2012 19:28:44 GMT
recorded_with: VCR 2.2.5
