---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"winner_announced__c":"2015-05-17","description__c":"sample
        Description"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":false,"errors":[{"errorMessage":"Required fields are missing:
        [End_Date__c, Start_Date__c]","errorCode":"REQUIRED_FIELD_MISSING"}],"challengeId":null}'
  recorded_at: Fri, 11 Jan 2013 15:06:50 GMT
recorded_with: VCR 2.4.0
