---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challenges/77?comments=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VzdYMAS"},"Total_Prize_Money__c":22424,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmxQIAS"},"Name":"CC-17053","Category__c":"a07Z0000001S9WlIAK","Display_Name__c":"Heroku","Id":"a08Z0000000RmxQIAS","Challenge__c":"a0GZ0000005VzdYMAS"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmxPIAS"},"Name":"CC-17052","Category__c":"a07Z0000001S9WoIAK","Display_Name__c":"Java","Id":"a08Z0000000RmxPIAS","Challenge__c":"a0GZ0000005VzdYMAS"}]},"Terms_of_Service__c":"a0kZ0000000YyG0IAK","Submissions__c":0,"Challenge_Id__c":"77","Challenge_Type__c":"Code","Start_Date__c":"2012-03-17T18:02:00.000+0000","Is_Open__c":"true","Requirements__c":"Hello
        this is a sample requirement with some interesting stuff","Release_to_Open_Source__c":false,"Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AZ0000000nIE2MAM"},"Has_Submission__c":false,"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0"},"Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:34.000+0000","Id":"a0AZ0000000nIE2MAM","Status__c":"Registered","Challenge__c":"a0GZ0000005VzdYMAS"}]},"Prize_Type__c":"Currency","Discussion_Board__c":"Show","End_Date__c":"2014-04-17T18:02:00.000+0000","Registered_Members__c":1,"Challenge_Comments__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81NIAQ"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my comments","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:35.000+0000","Id":"a09Z0000000k81NIAQ","Challenge__c":"a0GZ0000005VzdYMAS"},{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000k81SIAQ"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},"Comment__c":"These
        are my reply","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2012-12-05T19:28:36.000+0000","Id":"a09Z0000000k81SIAQ","Reply_To__c":"a09Z0000000k81NIAQ","Challenge__c":"a0GZ0000005VzdYMAS"}]},"Participating_Members__c":1,"Name":"RSpec
        Challenge for Testing","Challenge_Prizes__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Prize__c","url":"/services/data/v22.0/sobjects/Challenge_Prize__c/a0BZ0000000RU5WMAW"},"Place__c":1,"Prize__c":"1000","Id":"a0BZ0000000RU5WMAW","Challenge__c":"a0GZ0000005VzdYMAS"},{"attributes":{"type":"Challenge_Prize__c","url":"/services/data/v22.0/sobjects/Challenge_Prize__c/a0BZ0000000RU5VMAW"},"Place__c":2,"Prize__c":"122","Id":"a0BZ0000000RU5VMAW","Challenge__c":"a0GZ0000005VzdYMAS"}]},"Terms_of_Service__r":{"attributes":{"type":"Terms_of_Service__c","url":"/services/data/v22.0/sobjects/Terms_of_Service__c/a0kZ0000000YyG0IAK"},"Default_TOS__c":true,"Id":"a0kZ0000000YyG0IAK"},"Top_Prize__c":"1000","Id":"a0GZ0000005VzdYMAS","Submission_Details__c":"<em>&#39;Some
        submission details&#39;<br><br>Another double quoted stuff &quot;fdfdfd&quot;</em>","Description__c":"sample
        Description","Winner_Announced__c":"2014-05-17","Status__c":"Created"}]'
  recorded_at: Wed, 05 Dec 2012 19:28:37 GMT
recorded_with: VCR 2.2.5
