---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challenges/106?comments=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005kxDsMAI"},"Total_Prize_Money__c":22424,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000vEh8IAE"},"Name":"CC-17379","Category__c":"a07Z0000001S9WlIAK","Display_Name__c":"Heroku","Id":"a08Z0000000vEh8IAE","Challenge__c":"a0GZ0000005kxDsMAI"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000vEh7IAE"},"Name":"CC-17378","Category__c":"a07Z0000001S9WoIAK","Display_Name__c":"Java","Id":"a08Z0000000vEh7IAE","Challenge__c":"a0GZ0000005kxDsMAI"}]},"Terms_of_Service__c":"a0kZ0000000YyG0IAK","Submissions__c":0,"Challenge_Id__c":"106","Comments__c":"My
        challenge comments","Challenge_Type__c":"Design","Start_Date__c":"2012-03-17T18:02:00.000+0000","Is_Open__c":"true","Requirements__c":"Hello
        this is a sample requirement with some interesting stuff","Release_to_Open_Source__c":false,"Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AZ0000000oKe3MAE"},"Has_Submission__c":false,"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJXMA0"},"Name":"apextestmember","Id":"a0IZ0000000FyJXMA0"},"Member__c":"a0IZ0000000FyJXMA0","CreatedDate":"2013-01-11T15:06:43.000+0000","Id":"a0AZ0000000oKe3MAE","Status__c":"Registered","Challenge__c":"a0GZ0000005kxDsMAI"}]},"Prize_Type__c":"Currency","Discussion_Board__c":"Show","End_Date__c":"2014-04-17T18:02:00.000+0000","Registered_Members__c":1,"Challenge_Comments__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000kWjWIAU"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg"},"Comment__c":"These
        are my reply","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2013-01-11T15:06:46.000+0000","Id":"a09Z0000000kWjWIAU","Reply_To__c":"a09Z0000000kWjRIAU","Challenge__c":"a0GZ0000005kxDsMAI"},{"attributes":{"type":"Challenge_Comment__c","url":"/services/data/v22.0/sobjects/Challenge_Comment__c/a09Z0000000kWjRIAU"},"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0","Profile_Pic__c":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg"},"Comment__c":"These
        are my comments","Member__c":"a0IZ0000000FyJUMA0","CreatedDate":"2013-01-11T15:06:45.000+0000","Id":"a09Z0000000kWjRIAU","Challenge__c":"a0GZ0000005kxDsMAI"}]},"Participating_Members__c":1,"Name":"RSpec
        Challenge for Testing","Challenge_Prizes__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Prize__c","url":"/services/data/v22.0/sobjects/Challenge_Prize__c/a0BZ0000000SSkpMAG"},"Place__c":1,"Prize__c":"1000","Id":"a0BZ0000000SSkpMAG","Challenge__c":"a0GZ0000005kxDsMAI"},{"attributes":{"type":"Challenge_Prize__c","url":"/services/data/v22.0/sobjects/Challenge_Prize__c/a0BZ0000000SSkoMAG"},"Place__c":2,"Prize__c":"122","Id":"a0BZ0000000SSkoMAG","Challenge__c":"a0GZ0000005kxDsMAI"}]},"Terms_of_Service__r":{"attributes":{"type":"Terms_of_Service__c","url":"/services/data/v22.0/sobjects/Terms_of_Service__c/a0kZ0000000YyG0IAK"},"Default_TOS__c":true,"Id":"a0kZ0000000YyG0IAK"},"Top_Prize__c":"1000","Id":"a0GZ0000005kxDsMAI","Submission_Details__c":"<em>&#39;Some
        submission details&#39;<br><br>Another double quoted stuff &quot;fdfdfd&quot;</em>","Description__c":"sample
        Description","Winner_Announced__c":"2014-05-17","Assets__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Asset__c","url":"/services/data/v22.0/sobjects/Asset__c/a0zZ0000000hbvDIAQ"},"Filename__c":"logo.jpg","Id":"a0zZ0000000hbvDIAQ","Challenge__c":"a0GZ0000005kxDsMAI"},{"attributes":{"type":"Asset__c","url":"/services/data/v22.0/sobjects/Asset__c/a0zZ0000000hbvCIAQ"},"Filename__c":"img.png","Id":"a0zZ0000000hbvCIAQ","Challenge__c":"a0GZ0000005kxDsMAI"}]},"Status__c":"Winner
        Selected"}]'
  recorded_at: Fri, 11 Jan 2013 15:06:50 GMT
recorded_with: VCR 2.4.0
