---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/challenges/recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQH9HuRy0LqL79cIG.HKnpcye9QNWai5QSMQyyiyHv4m5d_UGsbV99LK2okixjDra0QvfDADcgfE8F76TmXcDj7ZLCKIT
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GJ0000002ZCVoMAO"},"Name":"Test
        Challenge 2","Total_Prize_Money__c":0,"End_Date__c":"2012-10-11T22:57:00.000+0000","Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002NsayIAC"},"Name":"CC-14316","Category__c":"a07J00000038esGIAQ","Display_Name__c":"Salesforce.com","Id":"a08J0000002NsayIAC","Challenge__c":"a0GJ0000002ZCVoMAO"}]},"Top_Prize__c":"$100","Challenge_Id__c":"3","Id":"a0GJ0000002ZCVoMAO","Description__c":"test","Challenge_Participants__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AJ0000004HDzYMAW"},"Money_Awarded__c":0.00,"Score__c":0,"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d0rAMAQ"},"Name":"mess","Id":"a0IJ0000000d0rAMAQ"},"Member__c":"a0IJ0000000d0rAMAQ","Points_Awarded__c":0,"Id":"a0AJ0000004HDzYMAW","Status__c":"Registered","Challenge__c":"a0GJ0000002ZCVoMAO"}]}}]'
  recorded_at: Wed, 07 Nov 2012 23:11:39 GMT
recorded_with: VCR 2.2.5
