---
http_interactions:
- request:
    method: put
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"winner_announced__c":"2014-05-17","terms_of_service__c":"Standard
        Terms & Conditions","scorecard_type__c":"Sandbox Scorecard","submission_details__c":"<em>&#39;Some
        submission details&#39;<br><br>Another double quoted stuff &quot;fdfdfd&quot;</em>","status__c":"Winner
        Selected","start_date__c":"2012-03-17T18:02:00.000+0000","requirements__c":"Hello
        this is a sample requirement with some interesting stuff","name":"RSpec Challenge
        for Testing","end_date__c":"2014-04-17T18:02:00.000+0000","description__c":"sample
        Description","challenge_id__c":"113"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"errors":[],"challengeId":"113"}'
  recorded_at: Thu, 31 Jan 2013 15:29:37 GMT
recorded_with: VCR 2.4.0
