---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=rspec-test-member-1%40m.cloudspokes.com.sandbox&password=abcd123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005J0000000xYGRIA2","issued_at":"1350048577101","instance_url":"https://cs10.salesforce.com","signature":"NScnv5jYpSBlqtfFEw18ikG8y4Y982ZrPwu6Y3zQOUU=","access_token":"00DJ00000007l7H!AQQAQH7XQQlk.pj2Oh4_epghuuMuzDQ81TUsrRvx6W_Bz_EY6DN6OkPEFMzsUIe2wqI2DxqNctxOYVudaeDBxyOsSVp1zGPT"}'
  recorded_at: Fri, 12 Oct 2012 13:29:39 GMT
recorded_with: VCR 2.2.5
