---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=JZVSCG72%40m.cloudspokes.com.sandbox&password=abcd123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005Z0000000gVRIIA2","issued_at":"1357489670243","instance_url":"https://cs11.salesforce.com","signature":"RmG8CaO9Bm1nRL7gNMqbB4A3FwxFUIYtRdmMYfYzNVs=","access_token":"00DZ00000007ybt!AQQAQBhDwFDymqINknN6OTO_ae4s1x5oEi7D2Igz2_rQhimoxWbiaasWdV4hriCK2oy.Zun4akkOrWg3rHIBDyq8stUDAS.b"}'
  recorded_at: Sun, 06 Jan 2013 16:27:48 GMT
recorded_with: VCR 2.2.5
