---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3ar.3patsxNiipcdm05TI9Tz2Q73IZFugW_aXBZs8rUrnQjNUVdM2wL5CAcQ&client_secret=550269079582676591&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7QiIhbu5fGbbSkFm4mwyb1c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005U0000000NdzaIAC","issued_at":"1348414359385","instance_url":"https://cs9.salesforce.com","signature":"R7qXihpoQMoLojdZwPqmu6kBSrr5gYI1Bx5CymlCwjI=","access_token":"00DK0000002aZTE!AQQAQJMANdj5r4j7nyw_sCobLhg06AbeVuvHZb2zsi6eQNrXI7ppxIpKq1O6upTPQvmSpm3RDu1OHWPPL5g_GpW6BaRecJ90"}'
  recorded_at: Sun, 23 Sep 2012 15:32:48 GMT
recorded_with: VCR 2.2.5
