---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=CTFTDH22%40m.cloudspokes.com.sandbox&password=abcd123456
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005Z0000000paKAIAY","issued_at":"1359646546082","instance_url":"https://cs11.salesforce.com","signature":"QUiGBkOe2yEoKzXrBBCIHULqLJB5zuKNmh1ZDx5fJXw=","access_token":"00DZ00000007ybt!AQQAQM0EGLcnxWAe9qRYBnDvwBkid1k7ei6axgsHKLg.TG39fzcFWdMwO1gMa_0kJ1wrwheFHsN1PF7wfb5QFiNW18_r4Hx2"}'
  recorded_at: Thu, 31 Jan 2013 15:35:46 GMT
recorded_with: VCR 2.4.0
