---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=XXHKYX54%40m.cloudspokes.com.sandbox&password=abcd123456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005Z0000000fr2mIAA","issued_at":"1355417012128","instance_url":"https://cs11.salesforce.com","signature":"PRgYblabBvIl9spovg7yF+hOosIxELq+WHeSXcox75E=","access_token":"00DZ00000007ybt!AQQAQDxi41MkftOfzZMl5MpLj3DKfOJRIyMAVNs0WFNPKo0Pqpg_kfQwxAEjBNGwcU3XVjQj3lhNWyK4xd0XvAMUGEruVHKj"}'
  recorded_at: Thu, 13 Dec 2012 16:43:32 GMT
recorded_with: VCR 2.2.5
