---
http_interactions:
- request:
    method: post
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=AFQLRZ21&email__c=AFQLRZ21%40rspec.cloudspokes.com&password=abcd123456&first_name__c=AFQLRZ21&last_name__c=AFQLRZ21
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000008yRYr!AQQAQDUsGHDebUMHJPFRqWpm7trZw1q3CMhD5GbB6rcm2epUjrgnu7nYraKmdoa2UCvo3UElFB8rr_3XuSV17_7h8CEhnm1q
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IK0000006Z9EfMAK","sfdc_username":"on-deck-user@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"AFQLRZ21"}'
  recorded_at: Mon, 25 Mar 2013 12:37:21 GMT
recorded_with: VCR 2.4.0
