---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=CETMOQRYEX43&email__c=CETMOQRYEX43%40rspec.cloudspokes.com&first_name__c=Rspec&last_name__c=TestUser&third_party_account__c=github&third_party_username__c=CETMOQRYEX43%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNezypgbKXNUt1MudR1SgAfYvPQJVWLJYkv8gA.RUEXPDzpPfadr.563mVCHb3J2KemSjD1Qe2OG0WjPat.wW.OHm2Rj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000kHHHMA2","sfdc_username":"CETMOQRYEX43@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"CETMOQRYEX43"}'
  recorded_at: Sun, 06 Jan 2013 16:27:53 GMT
recorded_with: VCR 2.2.5
