---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=YXLJCRWVMY4&password=abcd123456&email__c=YXLJCRWVMY4%40rspec.cloudspokes.com&first_name__c=YXLJCRWVMY4&last_name__c=YXLJCRWVMY4
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNezypgbKXNUt1MudR1SgAfYvPQJVWLJYkv8gA.RUEXPDzpPfadr.563mVCHb3J2KemSjD1Qe2OG0WjPat.wW.OHm2Rj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IZ0000000kHGiMAM","sfdc_username":"YXLJCRWVMY4@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"YXLJCRWVMY4"}'
  recorded_at: Sun, 06 Jan 2013 15:49:10 GMT
recorded_with: VCR 2.2.5
