---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=YJOTFUFWBP41&email__c=YJOTFUFWBP41%40rspec.cloudspokes.com&first_name__c=YJOTFUFWBP41&last_name__c=YJOTFUFWBP41&third_party_account__c=github&third_party_username__c=YJOTFUFWBP41%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000uvIqMAI","sfdc_username":"YJOTFUFWBP41@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"YJOTFUFWBP41"}'
  recorded_at: Thu, 31 Jan 2013 15:35:37 GMT
recorded_with: VCR 2.4.0
