---
http_interactions:
- request:
    method: post
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=rspec-test-member-2&email__c=rspec-test-member-2%40test.com&first_name__c=Rspec&last_name__c=TestUser&third_party_account__c=github&third_party_username__c=rspec-test-member-2%40test.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IJ0000000erLyMAI","Message":"Member
        created successfully.","sfdc_username":"rspec-test-member-2@m.cloudspokes.com.sandbox","username":"rspec-test-member-2"}'
  recorded_at: Fri, 12 Oct 2012 13:25:28 GMT
recorded_with: VCR 2.2.5
