---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=PHZEZJKFNT8&email__c=PHZEZJKFNT8%40rspec.cloudspokes.com&first_name__c=PHZEZJKFNT8&last_name__c=PHZEZJKFNT8&third_party_account__c=github&third_party_username__c=PHZEZJKFNT8%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQBMNftGeIOy_SCVHgcArUfJlBW_vCdAWstNBN6.EMeK.9em_hPKSd7k.2wWG4frc6vq8tPEH6tgCpJkERIWeDIR0JQio
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000GMEjMAO","sfdc_username":"PHZEZJKFNT8@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"PHZEZJKFNT8"}'
  recorded_at: Thu, 13 Dec 2012 17:35:20 GMT
recorded_with: VCR 2.2.5
