---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=CETFLAAZYU65&email__c=CETFLAAZYU65%40rspec.cloudspokes.com&first_name__c=CETFLAAZYU65&last_name__c=CETFLAAZYU65&third_party_account__c=github&third_party_username__c=CETFLAAZYU65%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000kNSBMA2","sfdc_username":"CETFLAAZYU65@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"CETFLAAZYU65"}'
  recorded_at: Fri, 11 Jan 2013 15:35:53 GMT
recorded_with: VCR 2.4.0
