---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=QQNDCTFLHY47&email__c=QQNDCTFLHY47%40rspec.cloudspokes.com&first_name__c=QQNDCTFLHY47&last_name__c=QQNDCTFLHY47&third_party_account__c=github&third_party_username__c=QQNDCTFLHY47%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000GDe6MAG","sfdc_username":"QQNDCTFLHY47@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"QQNDCTFLHY47"}'
  recorded_at: Wed, 05 Dec 2012 19:53:31 GMT
recorded_with: VCR 2.2.5
