---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=XXHKYX54&password=abcd123456&email__c=XXHKYX54%40rspec.cloudspokes.com&first_name__c=XXHKYX54&last_name__c=XXHKYX54
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQBMNftGeIOy_SCVHgcArUfJlBW_vCdAWstNBN6.EMeK.9em_hPKSd7k.2wWG4frc6vq8tPEH6tgCpJkERIWeDIR0JQio
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IZ0000000GMDMMA4","sfdc_username":"XXHKYX54@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"XXHKYX54"}'
  recorded_at: Thu, 13 Dec 2012 16:39:02 GMT
recorded_with: VCR 2.2.5
