---
http_interactions:
- request:
    method: post
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=rspec-test-member-1&password=abcd123456&email__c=rspec-test-member-1%40test.com&first_name__c=rspec-test-member-1&last_name__c=rspec-test-member-1
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IJ0000000erLtMAI","Message":"Member
        created successfully.","sfdc_username":"rspec-test-member-1@m.cloudspokes.com.sandbox","username":"rspec-test-member-1"}'
  recorded_at: Fri, 12 Oct 2012 13:25:25 GMT
recorded_with: VCR 2.2.5
