---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=KPZQGUKQJF19&email__c=KPZQGUKQJF19%40rspec.cloudspokes.com&first_name__c=KPZQGUKQJF19&last_name__c=KPZQGUKQJF19&third_party_account__c=github&third_party_username__c=KPZQGUKQJF19%40rspec.cloudspokes.com
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNezypgbKXNUt1MudR1SgAfYvPQJVWLJYkv8gA.RUEXPDzpPfadr.563mVCHb3J2KemSjD1Qe2OG0WjPat.wW.OHm2Rj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"!cloudspokes963","Success":"true","memberId":"a0IZ0000000kHGnMAM","sfdc_username":"KPZQGUKQJF19@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"KPZQGUKQJF19"}'
  recorded_at: Sun, 06 Jan 2013 15:49:11 GMT
recorded_with: VCR 2.2.5
