---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=JZVSCG72&email__c=JZVSCG72%40rspec.cloudspokes.com&password=abcd123456&first_name__c=JZVSCG72&last_name__c=JZVSCG72
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNezypgbKXNUt1MudR1SgAfYvPQJVWLJYkv8gA.RUEXPDzpPfadr.563mVCHb3J2KemSjD1Qe2OG0WjPat.wW.OHm2Rj
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IZ0000000kHH7MAM","sfdc_username":"JZVSCG72@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"JZVSCG72"}'
  recorded_at: Sun, 06 Jan 2013 16:27:17 GMT
recorded_with: VCR 2.2.5
