---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members
    body:
      encoding: US-ASCII
      string: username__c=PNJCKS54&email__c=PNJCKS54%40rspec.cloudspokes.com&password=abcd123456&first_name__c=PNJCKS54&last_name__c=PNJCKS54
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"password":"abcd123456","Success":"true","memberId":"a0IZ0000000kNRgMAM","sfdc_username":"PNJCKS54@m.cloudspokes.com.sandbox","Message":"Member
        created successfully.","username":"PNJCKS54"}'
  recorded_at: Fri, 11 Jan 2013 15:29:41 GMT
recorded_with: VCR 2.4.0
