---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/credentials?username=unknown-user&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQDpkkzGIrTY24z57TzIvUwMm2ImC_aRBwk5kwkDRB3EbQxES8RZdGp1Yt8.DK5oktEyzfE1Us5St.RspW2j9M2qcDL3n
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"false","Profile_Pic":null,"SFusername":null,"Username":"unknown-user","SFuserId":null,"Message":"No
        user could be found with specified service and username.","AccountId":null,"Email":null,"Service":"github"}'
  recorded_at: Thu, 31 Jan 2013 15:35:31 GMT
recorded_with: VCR 2.4.0
