---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/activate/jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQJ0k96FtI0f4MDdllG0lwLhLdcVVm5YoJB4bWluga_FoEJ0hsjHGyF1EMWki3UNCWdZaIp6aPl8V9mOlsCPpcmPFLhnD
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"true","Message":"User is currently active."}'
  recorded_at: Wed, 05 Dec 2012 19:29:38 GMT
- request:
    method: get
    uri: https://cs11.salesforce.com/services/data/v20.0/query?q=select%20id,%20name,%20profile_pic__c,%20email__c,%20%0A%20%20%20%20%20%20%20%20sfdc_user__r.username,%20account__c%20from%20member__c%20%0A%20%20%20%20%20%20%20%20where%20username__c='jeffdonthemic'%20and%20%0A%20%20%20%20%20%20%20%20sfdc_user__r.third_party_account__c%20=%20''
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQJ0k96FtI0f4MDdllG0lwLhLdcVVm5YoJB4bWluga_FoEJ0hsjHGyF1EMWki3UNCWdZaIp6aPl8V9mOlsCPpcmPFLhnD
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Wed, 05 Dec 2012 19:29:38 GMT
recorded_with: VCR 2.2.5
