---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/credentials?username=unknown-user&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQL_1mAuVfzx74H0OksyHyvpFzf.IKO0g_LR._Quexzss8ua3dcMwIOZ0QZiZLJbUbJAQQXqYgj6WPcvnipV8oXGrJeOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"false","Profile_Pic":null,"SFusername":null,"Username":"unknown-user","SFuserId":null,"Message":"No
        user could be found with specified service and username.","AccountId":null,"Email":null,"Service":"github"}'
  recorded_at: Sun, 06 Jan 2013 16:27:46 GMT
recorded_with: VCR 2.2.5
