---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/credentials?username=unknown-user&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQLpi.b1ZSvBU7fNIsC_37kuDUT5XyWakg5rof3z1IYz0NRLaNNoWTAElZh.U49hbyd69v8xW0GXEK8sw_D6TxcPKm413
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"false","Profile_Pic":null,"SFusername":null,"Username":"unknown-user","Message":"No
        user could be found with specified service and username.","SFuserId":null,"Email":null,"AccountId":null,"Service":"github"}'
  recorded_at: Fri, 12 Oct 2012 13:25:20 GMT
recorded_with: VCR 2.2.5
