---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/credentials?username=unknown-user&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQB3Dcm2jDD7ZtpmnwG55YE5Mwb_2OueuyIwP9hYjtwVyQJsWyDvNe3_C1Rvan9Pev4zU5Utqq6Ws5xmA.KYlhmCLa1sq
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"false","Profile_Pic":null,"SFusername":null,"Username":"unknown-user","SFuserId":null,"Message":"No
        user could be found with specified service and username.","AccountId":null,"Email":null,"Service":"github"}'
  recorded_at: Fri, 11 Jan 2013 15:30:01 GMT
recorded_with: VCR 2.4.0
