---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/credentials?username=unknown-user&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQOvJlN51Deui.Pasm_DSI9Tmfpfp9KgxdTyMDOQsqTOwyhGPeWT49wK1ut9m2MeTpWLnTrOXkKHZ3kXqaZsEViVcl._B
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"false","Profile_Pic":null,"SFusername":null,"Username":"unknown-user","SFuserId":null,"Message":"No
        user could be found with specified service and username.","AccountId":null,"Email":null,"Service":"github"}'
  recorded_at: Wed, 03 Oct 2012 21:00:23 GMT
recorded_with: VCR 2.2.5
