---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/credentials?username=jeffdonthemic&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQLpi.b1ZSvBU7fNIsC_37kuDUT5XyWakg5rof3z1IYz0NRLaNNoWTAElZh.U49hbyd69v8xW0GXEK8sw_D6TxcPKm413
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"true","Profile_Pic":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","SFusername":"jeffdonthemic@m.cloudspokes.com.sandbox","Username":"jeffdonthemic","Message":"Query
        Ran","SFuserId":"005U0000000M1nPIAS","Email":"jdouglas@appirio.com","AccountId":null,"Service":"github"}'
  recorded_at: Fri, 12 Oct 2012 13:25:21 GMT
recorded_with: VCR 2.2.5
