---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/credentials?username=jeffdonthemic&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQLP_aAnEMuh4wfwxjUp_mWvElx6RO_VzAQH8AgmUclrhCKOPTO53CAqeRRV6Ns25GmEQIiXpSIaF6pm2iOAb1N0P6AJ1
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"true","Profile_Pic":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","SFusername":"jeffdonthemic@m.cloudspokes.com.sandbox","Username":"jeffdonthemic","SFuserId":"005U0000000M1nPIAS","Message":"Query
        Ran","AccountId":null,"Email":"jdouglas@appirio.com","Service":"github"}'
  recorded_at: Thu, 13 Dec 2012 16:39:11 GMT
recorded_with: VCR 2.2.5
