---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/credentials?username=jeffdonthemic&service=github
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQL_1mAuVfzx74H0OksyHyvpFzf.IKO0g_LR._Quexzss8ua3dcMwIOZ0QZiZLJbUbJAQQXqYgj6WPcvnipV8oXGrJeOQ
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"Success":"true","Profile_Pic":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg","SFusername":"jeffdonthemic@m.cloudspokes.com.sandbox","Username":"jeffdonthemic","SFuserId":"005U0000000M1nPIAS","Message":"Query
        Ran","AccountId":null,"Email":"jdouglas@appirio.com","Service":"github"}'
  recorded_at: Sun, 06 Jan 2013 16:27:46 GMT
recorded_with: VCR 2.2.5
