---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000M1nPIAS","issued_at":"1351247602292","instance_url":"https://cs10.salesforce.com","signature":"IaihRFdr5QmiT6smTZkpSqcKkposAS+G7E6T5VQVp6Y=","access_token":"00DJ00000007l7H!AQQAQPY5dZreF5DRxG86FNQeV..ZdeeyfTBBi2O3WbGFlQVttbbTkETRv0URQIVA7o0LRCB3sHOtqw58v7COlagU7L4FMwRD"}'
  recorded_at: Fri, 26 Oct 2012 10:33:22 GMT
recorded_with: VCR 2.2.5
