---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3ar.3patsxNiipcdm05TI9Tz2Q73IZFugW_aXBZs8rUrnQjNUVdM2wL5CAcQ&client_secret=550269079582676591&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005U0000000M1nPIAS","issued_at":"1348425968412","instance_url":"https://cs9.salesforce.com","signature":"jqiCRGIF4gRvWH7vDH2C++TkwgVI+dGaRqQ4RyNcqNE=","access_token":"00DK0000002aZTE!AQQAQFBcsbYBCeDImMupPe7fkCZjUutoMstYDlHRxFBCSS_SNTh.GcRmXyxqA1mS6AmHqT8wDvj9NQrqXrEDYwWCqYTL8a79"}'
  recorded_at: Sun, 23 Sep 2012 18:46:17 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3VzD8gEXsinXk7I5y6fDrR2q1MRJyFCYt4qY7F7JUMe5UH34HIOqRqKxRlS3&client_secret=6863277560065788297&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005U0000000M1nPIAS","issued_at":"1349190497133","instance_url":"https://cs9.salesforce.com","signature":"1YZORD0Lhi9g8Ni2qaEquLV4UDV+5DT8q88hohUM6m8=","access_token":"00DK0000002aZTE!AQQAQFGAN90midMb_WK_sIe0_xMAUf4wqGAalqa1J.OaVh_xY68oVE6gdoJ5nE0LjCsl0Sd45AjJTUEEOeoNPe.6Qg5Yid6J"}'
  recorded_at: Tue, 02 Oct 2012 15:08:49 GMT
recorded_with: VCR 2.2.5
