---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000M1nPIAS","issued_at":"1352805759844","instance_url":"https://cs10.salesforce.com","signature":"pIMp5Hvw+jiTCn7EN1Bj4hzMWvjr7LpLdBcYcjmQ0ww=","access_token":"00DJ00000007l7H!AQQAQAfloWtBlUhvR4valVYnunJ.7eqTjmGZVTwoZ3acSInolWrR_VoCcAAxXWzQ60CL59SbKbg4qGvTHyM1qEMyVAfKTqdC"}'
  recorded_at: Tue, 13 Nov 2012 11:22:39 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000M1nPIAS","issued_at":"1353590178515","instance_url":"https://cs11.salesforce.com","signature":"dM8CdZPdPDeXTsSl5PBksDwBKcox7pwoAKVPvzgPJ/k=","access_token":"00DZ00000007ybt!AQQAQDrqHE6wGSGDLpnvUf4Vmuwznt5LwDt8gM6wJccMq0uL0XsGU8XbZpr3.WfAkNGVYO4j54WV5EkgZYV2JP29epN_d0hT"}'
  recorded_at: Thu, 22 Nov 2012 13:16:18 GMT
recorded_with: VCR 2.2.5
