---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000M1nPIAS","issued_at":"1351607961081","instance_url":"https://cs10.salesforce.com","signature":"ecFrHHIhCeqiLR+9izgCtYFpLa0jzVpGl+wQQTMf9kI=","access_token":"00DJ00000007l7H!AQQAQDc7fbBUZoc_FziBoaxoojcz5FHEA3de6jx8PB6P7Do0nbz7wFl2sxc7ljow4hj.1KKjG9JI301W4kmYVQBEeeM8KQN2"}'
  recorded_at: Tue, 30 Oct 2012 14:39:21 GMT
recorded_with: VCR 2.2.5
