---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1351607960453","instance_url":"https://cs10.salesforce.com","signature":"48b0eM2bwlwqUB88JK9IeihZe2pEbYmIUVHdfrwzHpU=","access_token":"00DJ00000007l7H!AQQAQIWDxvW6u_7TsUxMoKGZywRp_A.wIv9x2gBJsDg83JuSEaIioDRA.K9s5L4COUjsDY7LL2PLfncAmhmMMqDa1Gwt7i_s"}'
  recorded_at: Tue, 30 Oct 2012 14:39:20 GMT
recorded_with: VCR 2.2.5
