---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000NdzaIAC","issued_at":"1352805759239","instance_url":"https://cs10.salesforce.com","signature":"tJoNrY6TnsLh9ElxJfIQrvywoxjaujK4rda83iKvQzU=","access_token":"00DJ00000007l7H!AQQAQB_QjHAmE5Vn.Yq9FYQ3e1K.1PAI8s_5Qm.hkffHv9Mp4SUeqOU.Y85lutphQbq7o.Q5q.uC5ytdrdVG4oEscOc4t._4"}'
  recorded_at: Tue, 13 Nov 2012 11:22:39 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9GiqKapCZBwGOHUAkVGnJthYd5cbgyXDe2yCmPbeY8MobHsskb7M8Rd1hZh3kAWqtndc1H6hbeEhKrJTL&client_secret=689404370964402276&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7Q
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DZ00000007ybtMAA/005U0000000NdzaIAC","issued_at":"1353590177941","instance_url":"https://cs11.salesforce.com","signature":"1CVqC/sGDKH5c4+J5UT3b8pkTD9QwxMjCMjuMoOJYz0=","access_token":"00DZ00000007ybt!AQQAQHKzmr8NZW3YgnSHiRrxNPrfPqTMy7mQUQHS6AoOi_JNsVBd3yiHB_5VVn3B8A9u0Yx9DF.36FrvUt4.LpmhpakUNCHi"}'
  recorded_at: Thu, 22 Nov 2012 13:16:17 GMT
recorded_with: VCR 2.2.5
