---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3ar.3patsxNiipcdm05TI9Tz2Q73IZFugW_aXBZs8rUrnQjNUVdM2wL5CAcQ&client_secret=550269079582676591&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7QiIhbu5fGbbSkFm4mwyb1c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005U0000000NdzaIAC","issued_at":"1348425967827","instance_url":"https://cs9.salesforce.com","signature":"MytQgUv9h3Y+2LanzPVw6tneq3yDcb8oWdblV4pOch8=","access_token":"00DK0000002aZTE!AQQAQGF1V_o56pGKQxVEV8_H1G4558Hqo9fB82nVzGX9zIk0VmqghxAx_K2V_WXAxz8SbzOUVhJ70cdnZh_wuTfnCvGDAXlw"}'
  recorded_at: Sun, 23 Sep 2012 18:46:16 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3VzD8gEXsinXk7I5y6fDrR2q1MRJyFCYt4qY7F7JUMe5UH34HIOqRqKxRlS3&client_secret=6863277560065788297&username=shareduser%40cloudspokes.com.sandbox&password=i3769XDAF7QiIhbu5fGbbSkFm4mwyb1c3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005U0000000NdzaIAC","issued_at":"1349184513489","instance_url":"https://cs9.salesforce.com","signature":"AmSxqUJILbxs36htw/oausHOYvz4PTLRczAkogpEtKk=","access_token":"00DK0000002aZTE!AQQAQKWt2I8ndArAryadQJE1ot1yOgxR1eWBFekNcwt2EUgsDUMx3iNT_SjaOe2iYWpd.mrP2LyOEmwA.viGwGA4E1_93_qt"}'
  recorded_at: Tue, 02 Oct 2012 13:29:06 GMT
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9FS3IyroMOh4MAEAjkmHk3VzD8gEXsinXk7I5y6fDrR2q1MRJyFCYt4qY7F7JUMe5UH34HIOqRqKxRlS3&client_secret=6863277560065788297&username=rspec%40m.cloudspokes.com.sandbox&password=7%5Dm29%2F4YGbDw4DU5N9DrignyJ2alrVRdD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DK0000002aZTEMA2/005K0000000leSjIAI","issued_at":"1349190496566","instance_url":"https://cs9.salesforce.com","signature":"q8N3yKx7OeSx0DfL6jfbPZEycKf8QWpSREutdkO1D5U=","access_token":"00DK0000002aZTE!AQQAQKwhJdP1XQd4tXYbi5Nu_8G51KggH9WAySh2J6H2hj2LPGzhZ92x1tlBQ6MamS5diJUgGOUIlx50MDFq3tUigH6JZp1L"}'
  recorded_at: Tue, 02 Oct 2012 15:08:49 GMT
recorded_with: VCR 2.2.5
