---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token?grant_type=password&client_id=3MVG9_7ddP9KqTzehRpxziFtY9nmn2oOVDv8tskZz8EOojfspAwywZNShuvC9ReP3Q3xtOgsdywVqd3iaMD_i&client_secret=7790069153057450798&username=jeffdonthemic%40m.cloudspokes.com.sandbox&password=!cloudspokes963
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"id":"https://test.salesforce.com/id/00DJ00000007l7HMAQ/005U0000000M1nPIAS","issued_at":"1350125283506","instance_url":"https://cs10.salesforce.com","signature":"QxK5zMuNc5ixqsaUyBlcF9ennPVRWmcWdL6lyJyYVio=","access_token":"00DJ00000007l7H!AQQAQHLgDWeHR9uKPQkEl1ZQZtdisDiwnIhsowdAV_TRvk8gIr6sthqGPAKxlGYvRlZc40Ibwb.djRDibEF55dMAh1rRiRgT"}'
  recorded_at: Sat, 13 Oct 2012 10:48:05 GMT
recorded_with: VCR 2.2.5
