---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=false&orderby=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQB_QjHAmE5Vn.Yq9FYQ3e1K.1PAI8s_5Qm.hkffHv9Mp4SUeqOU.Y85lutphQbq7o.Q5q.uC5ytdrdVG4oEscOc4t._4
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GJ0000002ZCVoMAO"},"Name":"Test
        Challenge 2","End_Date__c":"2012-10-11T22:57:00.000+0000","Total_Prize_Money__c":0,"Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002NsayIAC"},"Display_Name__c":"Salesforce.com","Id":"a08J0000002NsayIAC","Challenge__c":"a0GJ0000002ZCVoMAO"}]},"Registered_Members__c":2,"Challenge_Id__c":"3","Challenge_Type__c":"Code","Id":"a0GJ0000002ZCVoMAO","Is_Open__c":"false","Start_Date__c":"2012-10-11T09:43:00.000+0000","Description__c":"test","Days_till_Close__c":0}]'
  recorded_at: Tue, 13 Nov 2012 10:45:09 GMT
recorded_with: VCR 2.2.5
