---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=false&orderby=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VtzkMAC"},"Name":"Test
        Challenge - Code w/Submission","End_Date__c":"2012-11-26T02:31:00.000+0000","Total_Prize_Money__c":0,"Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RMCrIAO"},"Display_Name__c":"Heroku","Id":"a08Z0000000RMCrIAO","Challenge__c":"a0GZ0000005VtzkMAC"}]},"Registered_Members__c":1,"Challenge_Id__c":"17","Challenge_Type__c":"Code","Id":"a0GZ0000005VtzkMAC","Is_Open__c":"false","Start_Date__c":"2012-11-21T14:22:00.000+0000","Description__c":"My
        cool challenge","Days_till_Close__c":0},{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005Vtz1MAC"},"Name":"Test
        Challenge - Design","End_Date__c":"2012-11-26T02:30:00.000+0000","Total_Prize_Money__c":0,"Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RMChIAO"},"Display_Name__c":"Heroku","Id":"a08Z0000000RMChIAO","Challenge__c":"a0GZ0000005Vtz1MAC"}]},"Registered_Members__c":2,"Challenge_Id__c":"15","Challenge_Type__c":"Design","Id":"a0GZ0000005Vtz1MAC","Is_Open__c":"false","Start_Date__c":"2012-11-21T14:22:00.000+0000","Description__c":"My
        cool challenge","Days_till_Close__c":0}]'
  recorded_at: Wed, 05 Dec 2012 19:29:00 GMT
recorded_with: VCR 2.2.5
