---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengeslist?fields=Id%2CChallenge_Id__c%2CName%2CDescription__c%2CTotal_Prize_Money__c%2CChallenge_Type__c%2CDays_till_Close__c%2CRegistered_Members__c%2CStart_Date__c%2CEnd_Date__c%2CIs_Open__c%2CCommunity__r.Name&limit=25&offset=0&open=false&orderby=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005ka5BMAQ"},"Name":"Demo","End_Date__c":"2013-01-07T19:28:35.000+0000","Total_Prize_Money__c":400,"Registered_Members__c":1,"Challenge_Id__c":"81","Challenge_Type__c":"Race","Id":"a0GZ0000005ka5BMAQ","Is_Open__c":"false","Start_Date__c":"2012-12-21T18:06:00.000+0000","Description__c":"test","Days_till_Close__c":0},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005VzUCMA0"},"Total_Prize_Money__c":44848,"End_Date__c":"2012-12-19T16:08:31.000+0000","Registered_Members__c":0,"Community__r":{"attributes":{"type":"Community__c","url":"/services/data/v25.0/sobjects/Community__c/a12Z0000000BT9PIAW"},"Name":"Appirio","Id":"a12Z0000000BT9PIAW"},"Name":"Private
        Challenge","Challenge_Id__c":"65","Community__c":"a12Z0000000BT9PIAW","Challenge_Type__c":"Race","Id":"a0GZ0000005VzUCMA0","Description__c":"sample
        Description","Start_Date__c":"2012-03-17T18:02:00.000+0000","Is_Open__c":"false","Days_till_Close__c":0},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005VzRcMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2012-12-21T18:44:00.000+0000","Total_Prize_Money__c":22424,"Registered_Members__c":0,"Challenge_Id__c":"52","Challenge_Type__c":"Race","Id":"a0GZ0000005VzRcMAK","Is_Open__c":"false","Start_Date__c":"2012-03-17T18:02:00.000+0000","Description__c":"sample
        Description","Days_till_Close__c":0},{"attributes":{"type":"Challenge__c","url":"/services/data/v25.0/sobjects/Challenge__c/a0GZ0000005VQogMAG"},"Total_Prize_Money__c":22424,"End_Date__c":"2012-12-22T18:44:00.000+0000","Registered_Members__c":2,"Challenge_Platforms__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Platform__c","url":"/services/data/v25.0/sobjects/Challenge_Platform__c/a1NZ0000000NQ99MAG"},"Name__c":"Cloud
        Foundry","Id":"a1NZ0000000NQ99MAG","Challenge__c":"a0GZ0000005VQogMAG"},{"attributes":{"type":"Challenge_Platform__c","url":"/services/data/v25.0/sobjects/Challenge_Platform__c/a1NZ0000000NQ9EMAW"},"Name__c":"Heroku","Id":"a1NZ0000000NQ9EMAW","Challenge__c":"a0GZ0000005VQogMAG"}]},"Name":"RSpec
        Challenge - 2","Challenge_Technologies__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Challenge_Technology__c","url":"/services/data/v25.0/sobjects/Challenge_Technology__c/a1OZ0000000n47iMAA"},"Name__c":"Java","Id":"a1OZ0000000n47iMAA","Challenge__c":"a0GZ0000005VQogMAG"},{"attributes":{"type":"Challenge_Technology__c","url":"/services/data/v25.0/sobjects/Challenge_Technology__c/a1OZ0000000n47nMAA"},"Name__c":"Redis","Id":"a1OZ0000000n47nMAA","Challenge__c":"a0GZ0000005VQogMAG"},{"attributes":{"type":"Challenge_Technolo[...]
