---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=false&orderby=name&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQHF_Sw.nvbytsEtb_B0UN7Lr9LypWB32ha83AgdXmzwcml8y8ci5_1KR_JlnQND0ZktSjUVQ1pGgybRPqzS0gfJrx4YK
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzUCMA0"},"Total_Prize_Money__c":44848,"End_Date__c":"2012-12-19T16:08:31.000+0000","Challenge_Categories__r":{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmmlIAC"},"Display_Name__c":"Java","Id":"a08Z0000000RmmlIAC","Challenge__c":"a0GZ0000005VzUCMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmmmIAC"},"Display_Name__c":"Heroku","Id":"a08Z0000000RmmmIAC","Challenge__c":"a0GZ0000005VzUCMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmmqIAC"},"Display_Name__c":"Java","Id":"a08Z0000000RmmqIAC","Challenge__c":"a0GZ0000005VzUCMA0"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmmrIAC"},"Display_Name__c":"Heroku","Id":"a08Z0000000RmmrIAC","Challenge__c":"a0GZ0000005VzUCMA0"}]},"Registered_Members__c":0,"Community__r":{"attributes":{"type":"Community__c","url":"/services/data/v26.0/sobjects/Community__c/a12Z0000000BT9PIAW"},"Name":"Appirio","Id":"a12Z0000000BT9PIAW"},"Name":"Private
        Challenge","Challenge_Id__c":"65","Community__c":"a12Z0000000BT9PIAW","Challenge_Type__c":"Race","Id":"a0GZ0000005VzUCMA0","Description__c":"sample
        Description","Start_Date__c":"2012-03-17T18:02:00.000+0000","Is_Open__c":"false","Days_till_Close__c":0},{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzRcMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2012-12-21T18:44:00.000+0000","Total_Prize_Money__c":22424,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmhvIAC"},"Display_Name__c":"Java","Id":"a08Z0000000RmhvIAC","Challenge__c":"a0GZ0000005VzRcMAK"},{"at[...]
