---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challenges/8?comments=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VRF5MAO"},"Discussion_Board__c":"Show","Prize_Type__c":"Currency","Total_Prize_Money__c":0,"End_Date__c":"2012-04-17T18:02:00.000+0000","Challenge_Categories__r":{"totalSize":3,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RKIFIA4"},"Name":"CC-16663","Category__c":"a07Z0000001S9WuIAK","Display_Name__c":"Facebook","Id":"a08Z0000000RKIFIA4","Challenge__c":"a0GZ0000005VRF5MAO"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmeJIAS"},"Name":"CC-16865","Category__c":"a07Z0000001S9WlIAK","Display_Name__c":"Heroku","Id":"a08Z0000000RmeJIAS","Challenge__c":"a0GZ0000005VRF5MAO"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RmeIIAS"},"Name":"CC-16864","Category__c":"a07Z0000001S9WoIAK","Display_Name__c":"Java","Id":"a08Z0000000RmeIIAS","Challenge__c":"a0GZ0000005VRF5MAO"}]},"Registered_Members__c":0,"Terms_of_Service__c":"a0kZ0000000YyG0IAK","Submissions__c":0,"Participating_Members__c":0,"Name":"RSpec
        Challenge","Terms_of_Service__r":{"attributes":{"type":"Terms_of_Service__c","url":"/services/data/v22.0/sobjects/Terms_of_Service__c/a0kZ0000000YyG0IAK"},"Default_TOS__c":true,"Id":"a0kZ0000000YyG0IAK"},"Top_Prize__c":"1000","Challenge_Id__c":"8","Challenge_Type__c":"Code","Submission_Details__c":"<em>&#39;Some
        submission details&#39;<br><br>Another double quoted stuff &quot;fdfdfd&quot;</em>","Id":"a0GZ0000005VRF5MAO","Winner_Announced__c":"2012-05-17","Description__c":"sample
        Description","Is_Open__c":"false","Start_Date__c":"2012-03-17T18:02:00.000+0000","Requirements__c":"Hello
        this is a sample requirement with some interesting stuff like<br><br>Bullets<br><ul><li>Bull1</li><li>Bull2</li></ul>\n<div
        style=\"text-align: center; \">Links <br><br><a href=\"http://developer.force.com\"
        target=\"_blank\">http://developer.force.com<br></a><br><strong>Bold Text</strong></div>\n<br><strike><em>Crossed
        - Italics<br></em></strike><br><br>","Release_to_Open_Source__c":false,"Status__c":"Planned"}]'
  recorded_at: Wed, 05 Dec 2012 19:29:01 GMT
recorded_with: VCR 2.2.5
