---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=true&orderby=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzRcMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2012-12-19T15:23:29.000+0000","Total_Prize_Money__c":22424,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmhvIAC"},"Display_Name__c":"Java","Id":"a08Z0000000RmhvIAC","Challenge__c":"a0GZ0000005VzRcMAK"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmhwIAC"},"Display_Name__c":"Heroku","Id":"a08Z0000000RmhwIAC","Challenge__c":"a0GZ0000005VzRcMAK"}]},"Registered_Members__c":0,"Challenge_Id__c":"52","Challenge_Type__c":"Race","Id":"a0GZ0000005VzRcMAK","Is_Open__c":"true","Start_Date__c":"2012-03-17T18:02:00.000+0000","Description__c":"sample
        Description","Days_till_Close__c":14},{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzTYMA0"},"Name":"RSpec
        Challenge","End_Date__c":"2012-12-19T15:53:30.000+0000","Total_Prize_Money__c":22424,"Challenge_Categories__r":{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmlFIAS"},"Display_Name__c":"Java","Id":"a08Z0000000RmlFIAS","Challenge__c":"a0GZ0000005VzTYMA0"},{"a[...]
