---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challengesearch?fields=Id,Challenge_Id__c,Name,Description__c,Total_Prize_Money__c,Challenge_Type__c,Days_till_Close__c,Registered_Members__c,Start_Date__c,End_Date__c,Is_Open__c,Community__r.Name&open=true&orderby=name&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQHF_Sw.nvbytsEtb_B0UN7Lr9LypWB32ha83AgdXmzwcml8y8ci5_1KR_JlnQND0ZktSjUVQ1pGgybRPqzS0gfJrx4YK
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v26.0/sobjects/Challenge__c/a0GZ0000005VzUgMAK"},"Name":"RSpec
        Challenge","End_Date__c":"2013-01-09T22:13:42.000+0000","Total_Prize_Money__c":44848,"Challenge_Categories__r":{"totalSize":4,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmoSIAS"},"Display_Name__c":"Java","Id":"a08Z0000000RmoSIAS","Challenge__c":"a0GZ0000005VzUgMAK"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmoiIAC"},"Display_Name__c":"Heroku","Id":"a08Z0000000RmoiIAC","Challenge__c":"a0GZ0000005VzUgMAK"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmohIAC"},"Display_Name__c":"Java","Id":"a08Z0000000RmohIAC","Challenge__c":"a0GZ0000005VzUgMAK"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v26.0/sobjects/Challenge_Category__c/a08Z0000000RmoTIAS"},"Display_Name__c":"Heroku","Id":"a08Z0000000RmoTIAS","Challenge__c":"a0GZ0000005VzUgMAK"}]},"Registered_Members__c":1,"Challenge_Id__c":"70","Challenge_Type__c":"Race","Id":"a0GZ0000005VzUgMAK","Is_Open__c":"true","Start_Date__c":"2012-03-17T18:02:00.000+0000","Description__c":"sample
        Description","Days_till_Close__c":6}]'
  recorded_at: Thu, 03 Jan 2013 13:52:04 GMT
recorded_with: VCR 2.2.5
