---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/challenges/recent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005Vtz1MAC"},"Name":"Test
        Challenge - Design","Total_Prize_Money__c":0,"End_Date__c":"2012-11-26T02:30:00.000+0000","Challenge_Categories__r":{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08Z0000000RMChIAO"},"Name":"CC-16799","Category__c":"a07Z0000001S9WlIAK","Display_Name__c":"Heroku","Id":"a08Z0000000RMChIAO","Challenge__c":"a0GZ0000005Vtz1MAC"}]},"Top_Prize__c":"$100","Challenge_Id__c":"15","Id":"a0GZ0000005Vtz1MAC","Description__c":"My
        cool challenge"}]'
  recorded_at: Wed, 05 Dec 2012 19:28:58 GMT
recorded_with: VCR 2.2.5
