---
http_interactions:
- request:
    method: put
    uri: https://cs10.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"name":"RSpec Challenge","challenge_id__c":"8"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQB_QjHAmE5Vn.Yq9FYQ3e1K.1PAI8s_5Qm.hkffHv9Mp4SUeqOU.Y85lutphQbq7o.Q5q.uC5ytdrdVG4oEscOc4t._4
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"errors":[],"challengeId":"8"}'
  recorded_at: Tue, 13 Nov 2012 11:11:46 GMT
recorded_with: VCR 2.2.5
