---
http_interactions:
- request:
    method: put
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"name":"RSpec Challenge","challenge_id__c":"8"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"errors":[],"challengeId":"8"}'
  recorded_at: Thu, 31 Jan 2013 15:39:02 GMT
recorded_with: VCR 2.4.0
