---
http_interactions:
- request:
    method: put
    uri: https://cs11.salesforce.com/services/apexrest/v.9/admin/challenges
    body:
      encoding: US-ASCII
      string: ! '{"challenge":{"detail":{"name":"RSpec Challenge","challenge_id__c":"8"}}}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQHF_Sw.nvbytsEtb_B0UN7Lr9LypWB32ha83AgdXmzwcml8y8ci5_1KR_JlnQND0ZktSjUVQ1pGgybRPqzS0gfJrx4YK
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"success":true,"errors":[],"challengeId":"8"}'
  recorded_at: Thu, 03 Jan 2013 13:52:11 GMT
recorded_with: VCR 2.2.5
