---
http_interactions:
- request:
    method: post
    uri: https://cs11.salesforce.com/services/data/v24.0/sobjects/Submission_Deliverable__c
    body:
      encoding: UTF-8
      string: ! '{"type__c":"Code","url__c":"http://www.google.com"}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQBMNftGeIOy_SCVHgcArUfJlBW_vCdAWstNBN6.EMeK.9em_hPKSd7k.2wWG4frc6vq8tPEH6tgCpJkERIWeDIR0JQio
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"fields":["Hosting_Platform__c"],"message":"Hosting platform is
        required for Code deliverables.","errorCode":"FIELD_CUSTOM_VALIDATION_EXCEPTION"}]'
  recorded_at: Thu, 13 Dec 2012 11:54:51 GMT
recorded_with: VCR 2.2.5
