---
http_interactions:
- request:
    method: patch
    uri: https://cs11.salesforce.com/services/data/v26.0/sobjects/Submission_Deliverable__c/a19Z0000000A6trIAC
    body:
      encoding: UTF-8
      string: ! '{"type__c":"Code","url__c":"http://www.google.com","hosting_platform__c":"Heroku","language__c":"Java"}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 11 Jan 2013 15:13:10 GMT
recorded_with: VCR 2.4.0
