---
http_interactions:
- request:
    method: patch
    uri: https://cs11.salesforce.com/services/data/v24.0/sobjects/Submission_Deliverable__c/a19Z00000009wfkIAA
    body:
      encoding: UTF-8
      string: ! '{"type__c":"Code","url__c":"http://www.google.com","hosting_platform__c":"Heroku","language__c":"Java"}'
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQJzRLj07Dh6p2PT7yF4pwf73qMX4R1.KUiHkODDdv0M5TGIRckozSi7PfA8AFox9.qR_ZayC6WgXS4rlYYeORnz_6Wg.
  response:
    status:
      code: 204
      message: No Content
    headers:
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Fri, 14 Dec 2012 14:54:33 GMT
recorded_with: VCR 2.2.5
