---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c,summary_bio__c,challenges_entered__c,active_challenges__c,total_wins__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,total_public_money__c&orderby=total_wins__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQLFd9AG646qwFz00JJ0HV2MJqIXluOVRchUNZQVVGKe6OrpFG_mMJ3blneTdhFrSUP43PzaJVQHE5_siPWOjIo8g20QE
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK0000000QaroMAC"},"Name":"romin","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IK0000000QaroMAC","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK0000000QarxMAC"},"Name":"mess","Challenges_Entered__c":1,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IK0000000QarxMAC","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/[...]
