---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c,summary_bio__c,challenges_entered__c,active_challenges__c,total_wins__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,total_public_money__c&orderby=id&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQE_J1WaEneAuOm04NX9b0WOp8ntOCcfoUpNHQ4TGbwouFn0f8UxzqPYX1Xb.e.zKho62CxGQiv2.pZG4jvl355egw11u
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Name":"jeffdonthemic","Challenges_Entered__c":1,"Total_2nd_Place__c":0,"Active_Challenges__c":1,"Total_1st_Place__c":1,"Id":"a0IZ0000000FyJUMA0","Total_Wins__c":1,"Total_Public_Money__c":5002.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg"},{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJVMA0"},"Name":"salpartovi","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IZ0000000FyJVMA0","Total_Wins__c":0,"Total_Public_Money__c":500.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://lh3.ggpht.com/owL_4bpqEq05aU1JkZUjXWF5[...]
