---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c&orderby=total_wins__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQIWDxvW6u_7TsUxMoKGZywRp_A.wIv9x2gBJsDg83JuSEaIioDRA.K9s5L4COUjsDY7LL2PLfncAmhmMMqDa1Gwt7i_s
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000eil5MAA"},"Name":"cloudspokes-rspec-1","Id":"a0IJ0000000eil5MAA","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d1ZMMAY"},"Name":"tehnrd","Id":"a0IJ0000000d1ZMMAY","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000fSAGMA2"},"Name":"test2localhost","Id":"a0IJ0000000fSAGMA2","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"[...]
