---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c,summary_bio__c,challenges_entered__c,active_challenges__c,total_wins__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,total_public_money__c&orderby=id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQIWDxvW6u_7TsUxMoKGZywRp_A.wIv9x2gBJsDg83JuSEaIioDRA.K9s5L4COUjsDY7LL2PLfncAmhmMMqDa1Gwt7i_s
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d0r8MAA"},"Name":"jeffdonthemic","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IJ0000000d0r8MAA","Total_Wins__c":0,"Summary_Bio__c":"This
        is my summary!!!","Total_Public_Money__c":600.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d0r9MAA"},"Name":"salpartovi","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IJ0000000d0r9MAA","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/[...]
