---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c,summary_bio__c,challenges_entered__c,active_challenges__c,total_wins__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,total_public_money__c&orderby=total_wins__c&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQBMNftGeIOy_SCVHgcArUfJlBW_vCdAWstNBN6.EMeK.9em_hPKSd7k.2wWG4frc6vq8tPEH6tgCpJkERIWeDIR0JQio
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJVMA0"},"Name":"salpartovi","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IZ0000000FyJVMA0","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJXMA0"},"Name":"apextestmember","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Active_Challenges__c":0,"Total_1st_Place__c":0,"Id":"a0IZ0000000FyJXMA0","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/d[...]
