---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/members?fields=id,name,profile_pic__c&orderby=total_wins__c&limit=25&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJVMA0"},"Name":"salpartovi","Id":"a0IZ0000000FyJVMA0","Profile_Pic__c":"http://lh3.ggpht.com/owL_4bpqEq05aU1JkZUjXWF5dQ1jh9VlGerzHMYrfT2gdLwBrVshRpRbGouxOaKwW5Fr4BvBROZRT02RtIUkJC_KvriWkHQ"},{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJXMA0"},"Name":"apextestmember","Id":"a0IZ0000000FyJXMA0","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"},{"attributes":{"type":"Member__c","url":"/services/data/v26.0/sobjects/Member__c/a0IZ0000000FyJYMA0"},"Name":"tnjitsu","Id":"a0IZ0000000FyJYMA0","Profile_P[...]
