---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members/jeffdonthemic/challenges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQMhP0kp4bWF5pzc7sEYktM6tujwV4aaFiVRZtlqjERjUlCiFVXd9y5fBwFzW68RbesV7IRGqCAVxFYlGqgnQJm6b.C_z
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GJ0000002ZBv7MAG"},"Prize_Type__c":"Currency","Total_Prize_Money__c":0,"End_Date__c":"2012-12-01T10:21:00.000+0000","Challenge_Categories__r":{"totalSize":5,"done":true,"records":[{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002NsUVIA0"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esGIAQ"},"Name":"Salesforce.com","Color__c":"000000","Id":"a07J00000038esGIAQ"},"Category__c":"a07J00000038esGIAQ","Id":"a08J0000002NsUVIA0","Challenge__c":"a0GJ0000002ZBv7MAG"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0/sobjects/Challenge_Category__c/a08J0000002b3JgIAI"},"Category__r":{"attributes":{"type":"Category__c","url":"/services/data/v22.0/sobjects/Category__c/a07J00000038esMIAQ"},"Name":"Java","Color__c":"000000","Id":"a07J00000038esMIAQ"},"Category__c":"a07J00000038esMIAQ","Id":"a08J0000002b3JgIAI","Challenge__c":"a0GJ0000002ZBv7MAG"},{"attributes":{"type":"Challenge_Category__c","url":"/services/data/v22.0[...]
