---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/apexrest/v.9/members/jeffdonthemic?fields=id,name,school__c,years_of_experience__c,gender__c,time_zone__c,profile_pic__c,country__c,summary_bio__c,quote__c,challenges_entered__c,total_public_money__c,website__c,twitter__c,linkedin__c,icq__c,jabber__c,github__c,facebook__c,digg__c,myspace__c,total_wins__c,total_points__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,valid_submissions__c,badgeville_id__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQDot_Gr.sY5OusLIBjAa5L3Ag33cidOjZGU.hl.xV3LldVM.ABtZDU.OHNSabOl.R0TVPt.IKiyKaWUB0Z0thJO2M9U7
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IJ0000000d0r8MAA"},"Valid_Submissions__c":0,"Website__c":"http://blog.jeffdouglas.com","MySpace__c":"jeffdonthemic","Total_Public_Money__c":600.00,"Gender__c":"Male","Jabber__c":"jeffdonthemic","Total_Points__c":0,"Total_3st_Place__c":0,"LinkedIn__c":"http://www.linkedin.com/in/jeffdouglas","Facebook__c":"http://www.facebook.com/jeffdonthemic","Twitter__c":"jeffdonthemic","Years_of_Experience__c":1,"Total_2nd_Place__c":0,"School__c":"University
        of Tampa","Country__c":"Afghanistan","Github__c":"jeffdonthemic","Total_1st_Place__c":0,"ICQ__c":"jeffdonthemic","Digg__c":"jeffdonthemic","Name":"jeffdonthemic","Challenges_Entered__c":0,"Time_Zone__c":"(GMT-05:00)
        Eastern Standard Time (America/Panama)","Id":"a0IJ0000000d0r8MAA","Summary_Bio__c":"This
        is my summary!!","Total_Wins__c":0,"Quote__c":"This is my quote","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"}]'
  recorded_at: Fri, 12 Oct 2012 12:57:08 GMT
recorded_with: VCR 2.2.5
