---
http_interactions:
- request:
    method: get
    uri: https://cs10.salesforce.com/services/data/v20.0/query?q=select%20id,name,challenge__r.name,challenge__r.challenge_id__c,money__c,place__c,reason__c,status__c,type__c,Reference_Number__c,payment_sent__c%20from%20payment__c%20where%20member__r.name%20=%20'jeffdonthemic'%20order%20by%20id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DJ00000007l7H!AQQAQMhP0kp4bWF5pzc7sEYktM6tujwV4aaFiVRZtlqjERjUlCiFVXd9y5fBwFzW68RbesV7IRGqCAVxFYlGqgnQJm6b.C_z
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Payment__c","url":"/services/data/v20.0/sobjects/Payment__c/a0bJ0000003ykOzIAI"},"Id":"a0bJ0000003ykOzIAI","Name":"PAY-3530","Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v20.0/sobjects/Challenge__c/a0GJ0000002ZBv7MAG"},"Name":"Test
        Challenge 1","Challenge_Id__c":"2"},"Money__c":100.0,"Place__c":"1","Reason__c":"Contest
        payment","Status__c":"Owed","Type__c":null,"Reference_Number__c":null,"Payment_Sent__c":null},{"attributes":{"type":"Payment__c","url":"/services/data/v20.0/sobjects/Payment__c/a0bJ0000003ykP4IAI"},"Id":"a0bJ0000003ykP4IAI","Name":"PAY-3531","Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v20.0/sobjects/Challenge__c/a0GJ0000002ZCVoMAO"},"Name":"Test
        Challenge 2","Challenge_Id__c":"3"},"Money__c":500.0,"Place__c":"1","Reason__c":"Contest
        payment","Status__c":"Paid","Type__c":"Check","Reference_Number__c":"12345","Payment_Sent__c":"2012-10-12"}]}'
  recorded_at: Mon, 12 Nov 2012 10:55:11 GMT
recorded_with: VCR 2.2.5
