---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/data/v20.0/query?q=select%20id,name,challenge__r.name,challenge__r.challenge_id__c,money__c,place__c,reason__c,status__c,type__c,Reference_Number__c,payment_sent__c%20from%20payment__c%20where%20member__r.name%20=%20'jeffdonthemic'%20order%20by%20id
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"totalSize":8,"done":true,"records":[{"attributes":{"type":"Payment__c","url":"/services/data/v20.0/sobjects/Payment__c/a0bZ0000000xLqLIAU"},"Id":"a0bZ0000000xLqLIAU","Name":"PAY-3940","Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v20.0/sobjects/Challenge__c/a0GZ0000005VQogMAG"},"Name":"RSpec
        Challenge","Challenge_Id__c":"2"},"Money__c":1.0,"Place__c":"1","Reason__c":"Contest
        payment","Status__c":"Owed","Type__c":null,"Reference_Number__c":null,"Payment_Sent__c":null},{"attributes":{"type":"Payment__c","url":"/services/data/v20.0/sobjects/Payment__c/a0bZ0000000xLqQIAU"},"Id":"a0bZ0000000xLqQIAU","Name":"PAY-3941","Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v20.0/sobjects/Challenge__c/a0GZ0000005VQogMAG"},"Name":"RSpec
        Challenge","Challenge_Id__c":"2"},"Money__c":1.0,"Place__c":"1","Reason__c":"Contest
        payment","Status__c":"Owed","Type__c":null,"Reference_Number__c":null,"Payment_Sent__c":null},{"attributes":[...]
