---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/recommendations?fields=recommendation_from__r.name,recommendation_from__r.profile_pic__c,recommendation__c,createddate&search=jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQAQxXqROhCnRnkLvnw7ksHa9BcFTtMx_WvFGDOpjHTc4WnFO42bfhJeKK9VEJntkt31rfjTIGNGU010EqXlZs26jjMXc
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EG2MAM"},"Member__c":"a0IZ0000000FyJUMA0","Recommendation__c":"My
        text","CreatedDate":"2012-12-05T13:57:26.000+0000","Id":"a0QZ00000007EG2MAM","Recommendation_From__c":"a0IZ0000000FyJWMA0","Recommendation_From__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJWMA0"},"Name":"mess","Id":"a0IZ0000000FyJWMA0","Profile_Pic__c":"http://lh3.ggpht.com/Y23e0P_lCuxtjyLVFEgKa5NCvXUwjY8epv9bwQgcpvXhSv0AXn2QbRKYTgtxFQNXQtQhcahC9syLz03si14uUZpFbcYLuw"}},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QZ00000007EFsMAM"},"Member__c":"a0IZ0000000FyJUMA0","Recommendation__c":"My
        text","CreatedDate":"2012-12-05T13:50:24.000+0000","Id":"a0QZ00000007EFsMAM","Recommendation_From__c":"a0IZ0000000FyJWMA0","Recommendation_From__r":{"attributes":{"type":"Member__c","url":"/service[...]
