---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/recommendations?fields=recommendation_from__r.name,recommendation_from__r.profile_pic__c,recommendation__c,createddate&search=jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQKwhJdP1XQd4tXYbi5Nu_8G51KggH9WAySh2J6H2hj2LPGzhZ92x1tlBQ6MamS5diJUgGOUIlx50MDFq3tUigH6JZp1L
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QK00000007vyVMAQ"},"Member__c":"a0IK0000000QarnMAC","Recommendation__c":"This
        guy is awesome!!!","CreatedDate":"2012-09-01T12:39:03.000+0000","Id":"a0QK00000007vyVMAQ","Recommendation_From__c":"a0IK0000000QarxMAC","Recommendation_From__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK0000000QarxMAC"},"Name":"mess","Id":"a0IK0000000QarxMAC","Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"}},{"attributes":{"type":"Recommendation__c","url":"/services/data/v22.0/sobjects/Recommendation__c/a0QK00000007zIPMAY"},"Member__c":"a0IK0000000QarnMAC","Recommendation__c":"awesome!!!!!","CreatedDate":"2012-09-24T10:10:37.000+0000","Id":"a0QK00000007zIPMAY","Recommendation_From__c":"a0IK0000000QarxMAC","Recommendation_From__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK0000000QarxMAC"},"Name":"mess"[...]
