---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/referrals/jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQNm4Ld6V8EeM7SMS8uBfefzK.8v5iIOfAZilQlsQVmKe_fKPXqWkDU0sQWry_dd6GcVVzkQZrGjoNTCGogVNoKPlipVo
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"signup_date":"2011-11-23T12:55:46.000Z","referral_money":105.000,"referral_id":"a11Z0000000RU3xIAG","profile_pic":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","membername":"testreferral1","first_year_money":1050.00},{"signup_date":"2012-12-18T20:30:00.000Z","referral_money":0.000,"referral_id":"a11Z0000000RU4lIAG","profile_pic":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg","membername":"testreferral2","first_year_money":0.00}]'
  recorded_at: Fri, 11 Jan 2013 16:05:04 GMT
recorded_with: VCR 2.4.0
