---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/referrals/jeffdonthemic
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"signup_date":"2011-11-23T12:55:46.000Z","referral_money":105.000,"referral_id":"a11Z0000000RU3xIAG","profile_pic":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg","membername":"testreferral1","first_year_money":1050.00},{"signup_date":null,"referral_money":0.000,"referral_id":"a11Z0000000RU4lIAG","profile_pic":"http://lh4.ggpht.com/4wzpuaY9Oz1uNSyjinB72Re8V3DMEEyaeaLzJegV_tHyDYZm2nrNq6E_LuICWFs0-r-E70LgxlHca4qKxXKCSaP2zjarwgg","membername":"testreferral2","first_year_money":0.00}]'
  recorded_at: Wed, 05 Dec 2012 19:29:18 GMT
recorded_with: VCR 2.2.5
