---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members/csrspec1?fields=id,name,school__c,years_of_experience__c,gender__c,time_zone__c,profile_pic__c,country__c,summary_bio__c,quote__c,challenges_entered__c,total_public_money__c,website__c,twitter__c,linkedin__c,icq__c,jabber__c,github__c,facebook__c,digg__c,myspace__c,total_wins__c,total_points__c,total_1st_place__c,total_2nd_place__c,total_3st_place__c,valid_submissions__c,badgeville_id__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQFadMd3HlU2v3GgLqvvtLz9JROBzGLJ7jYyAHoTp7mr4kJBhJf0RnZyaRC27hzSBNkmiJhRE8Me.6ZdQNdJbMHfHnXAu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IK00000056OflMAE"},"Valid_Submissions__c":0,"Total_Points__c":0,"Name":"csrspec1","Challenges_Entered__c":0,"Total_2nd_Place__c":0,"Total_1st_Place__c":0,"Time_Zone__c":"(GMT-07:00)
        Pacific Daylight Time (America/Los_Angeles)","Id":"a0IK00000056OflMAE","Total_Wins__c":0,"Total_Public_Money__c":0.00,"Total_3st_Place__c":0,"Profile_Pic__c":"http://cloudspokes.s3.amazonaws.com/Cloud_th_100.jpg"}]'
  recorded_at: Sun, 23 Sep 2012 11:47:53 GMT
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/members/csrspec1/challenges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQFadMd3HlU2v3GgLqvvtLz9JROBzGLJ7jYyAHoTp7mr4kJBhJf0RnZyaRC27hzSBNkmiJhRE8Me.6ZdQNdJbMHfHnXAu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Sun, 23 Sep 2012 11:47:53 GMT
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/recommendations?fields=recommendation_from__r.name,recommendation_from__r.profile_pic__c,recommendation__c,createddate&search=csrspec1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000002aZTE!AQQAQFadMd3HlU2v3GgLqvvtLz9JROBzGLJ7jYyAHoTp7mr4kJBhJf0RnZyaRC27hzSBNkmiJhRE8Me.6ZdQNdJbMHfHnXAu
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[]'
  recorded_at: Sun, 23 Sep 2012 11:47:54 GMT
recorded_with: VCR 2.2.5
