---
http_interactions:
- request:
    method: get
    uri: https://cs9.salesforce.com/services/apexrest/v.9/communities/public
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DK0000008yRYr!AQQAQDUsGHDebUMHJPFRqWpm7trZw1q3CMhD5GbB6rcm2epUjrgnu7nYraKmdoa2UCvo3UElFB8rr_3XuSV17_7h8CEhnm1q
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"leaderboard":[],"community":{"attributes":{"type":"Community__c","url":"/services/data/v24.0/sobjects/Community__c/a12K0000000Wn1eIAC"},"Name":"Public","Email_Domain__c":"@nothing.com","Id":"a12K0000000Wn1eIAC","About__c":"test","Public_Group__c":"all
        members","Members__c":0},"challenges":[]}'
  recorded_at: Mon, 25 Mar 2013 11:50:40 GMT
recorded_with: VCR 2.4.0
