---
http_interactions:
- request:
    method: get
    uri: https://cs11.salesforce.com/services/apexrest/v.9/participants/jeffdonthemic?challengeId=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      content-type:
      - application/json
      authorization:
      - OAuth 00DZ00000007ybt!AQQAQG6DwQV679YzffbWjdS6wzSosOvdWBEDgKxf90uQq737FZu31lu2e9YbecJaMwYDofUw0k.2vCYEz.1dwTwa_FCKOS1F
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '[{"attributes":{"type":"Challenge_Participant__c","url":"/services/data/v22.0/sobjects/Challenge_Participant__c/a0AZ0000000n8XuMAI"},"Challenge__r":{"attributes":{"type":"Challenge__c","url":"/services/data/v22.0/sobjects/Challenge__c/a0GZ0000005VQogMAG"},"Name":"RSpec
        Challenge","Id":"a0GZ0000005VQogMAG"},"Name":"CP-43722","Has_Submission__c":false,"Money_Awarded__c":0.00,"Member__r":{"attributes":{"type":"Member__c","url":"/services/data/v22.0/sobjects/Member__c/a0IZ0000000FyJUMA0"},"Valid_Submissions__c":0,"Name":"jeffdonthemic","Id":"a0IZ0000000FyJUMA0"},"Member__c":"a0IZ0000000FyJUMA0","Send_Discussion_Emails__c":true,"Id":"a0AZ0000000n8XuMAI","Status__c":"Watching","Challenge__c":"a0GZ0000005VQogMAG"}]'
  recorded_at: Wed, 05 Dec 2012 19:29:33 GMT
recorded_with: VCR 2.2.5
